<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link rel="stylesheet" href="/css/navHeader.css">
</head>
<body th:fragment="main-body">
	<header class="nav_header">
		<!-- <div class="fixed-navbar"> -->
			<div class="Logo">
				<h1 class="page-title">별애별 모임</h1>
			</div>
			<div class="img_div">    
				<a href="#" class="Logo">
		            <svg class="bi me-2" width="50" height="50" role="img" aria-label="Logo">
		                <image href="/img/Logo.png" width="50" height="50"></image>
		            </svg>
		        </a>  
		    </div>
		    <div class="category">  
		        
		        <ul class="category">
		            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
		            <li><a href="#" class="nav-link px-2 link-dark">관측지</a></li>
		            <li><a href="#" class="nav-link px-2 link-dark">소통방</a></li>
		        </ul>
		    </div>
		    <!-- <div class="userButton">    
		        <form id="login-signup">
			        <button class="btn btn-secondary" type="button">Login</button>
			        <button class="btn btn-primary" type="button">회원 가입</button>
		       	</form>
		    </div> -->
	
	                <!-- Login 했을 경우
	            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
	                <button type="submit">Logout</button>
	            </form>
	
	            <div class="dropdown text-end">
	              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
	                <span>서누족장</span>
	              </a>
	              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
	                <li><a class="dropdown-item" href="#">마이 페이지</a></li>
	                <li><a class="dropdown-item" href="#">정보 변경</a></li>
	              </ul>
	            </div> -->
	    <!-- </div> -->
    </header>
	
    <!-- <div id="wrapper">
        <div class="main-content">
            <div class="row row-inline-block small-spacing">
                <div class="col-xs-12">
                    <div class="box-content">
                        <div class="clearfix">
                            <h4 class="box-title pull-left"></h4>

                            <th:block layout:fragment="search"></th:block>
                        </div>

                        <th:block layout:fragment="content"></th:block>

                        <th:block layout:fragment="paging"></th:block>
                    </div>
					<div class="mainpage-content">
	                    <th:block layout:fragment="main"></th:block>
	                    
	                    <th:block layout:fragment="map"></th:block>
	                    
	                    <th:block layout:fragment="weather"></th:block>
	                </div>
                </div>
            </div>

            <footer class="footer">
                <ul class="list-inline">
                    <li>2022 © 건강최고.</li>
                </ul>
            </footer>
        </div>
    </div> -->

    <script th:src="@{/scripts/common.js}"></script>
    <script th:src="@{/scripts/jquery.min.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>

    <th:block layout:fragment="script"></th:block>
    
</body>
</html>
