<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작품전 게시판</title>
    <style>

        img{
            width: 250px;
            height: 180px;
        }
        ol, ul {
            list-style-type: none;
        }

        li {
            float: left;
            /* position: relative; */
            padding: 35px 40px 35px 0;
        }

    </style>
</head>
<body>
    <h2>작품전 게시판</h2>
    
    <ul>
        <li>
            <div>
                <img src="images/dog1.jpg" alt="강아쥐3">
            </div>
            <div>3</div>
            <div>족장님</div>
            <div>야 나두!</div>
            <div>2022-07-03</div>

        </li>
        <li>
            <div>
                <img src="images/dog2.jpg" alt="강아쥐2">
            </div>
            <div>2</div>
            <div>강사님</div>
            <div>야 너두?</div>
            <div>2022-07-01</div>
        </li>
        <li>
            <div>
                <img src="images/dog3.jpg" alt="강아쥐1">
            </div>
            <div>2</div>
            <div>두목님</div>
            <div>하늘에서 별이 떨어졌어요!!</div>
            <div>2022-06-29</div>
        </li>
    </ul>    
          
    
</body>
</html>