<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.BoardMapper">

<!-- 게시글 테이블 -->
 <sql id="boardColumns">
 	bno
 	, category
 	, user_number
 	, title
 	, content
 	, reg_date
 	, update_date
 	, delete_yn
 </sql>
 
 <!-- 신고 테이블 -->
 <sql id="reportColumns">
 	bno
 	, user_number
 	, report_content
 	, manage_yn
 </sql>
 
 <!-- 댓글 테이블 -->
 <sql id="commentColumns">
 	cmt_num
 	, bno
 	, user_number
 	, cmt_content
 	, write_date
 	, cmt_update
 	, cmt_delete_yn
 </sql>
 
 <!-- 이미지 테이블 -->
 <sql id="imgColumns">
 	img_number
 	, bno
 	, img_url
 	, img_show_yn
 </sql>
 
 <!-- 게시글 카테고리 -->
 <sql id="categoryColumns">
 	category
 </sql>
 
 <!-- 게시글 조회 -->
 <select id="detailBoard" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="boardColumns"/>
 	from board_list
 	where bno = 2
 </select>
 
  <!-- 신고 조회 -->
 <select id="detailReport" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="reportColumns"/>
 	from report_table
 </select>
 
  <!-- 댓글 조회 -->
 <select id="detailComment" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="commentColumns"/>
 	from comment_table
 </select>
 
  <!-- 이미지 조회 -->
 <select id="detailImg" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="imgColumns"/>
 	from img_table
 </select>
 
  <!-- 카테고리 조회 -->
 <select id="detailCategory" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="categoryColumns"/>
 	from category
 </select>
 
 
 
 <!-- 게시글 저장 -->
 <insert id="insertBoard" parameterType="BoardDto" >
 	insert into board_list (
 		<include refid="boardColumns"/>
 	) values (
 		#{bno}
 		, #{category}
 		, #{userNumber}
 		, #{title}
 		, #{content}
 		, now()
 		, null
 		, 0
 	)
 </insert>
 
 
 <!-- 상세 조회 -->
 <select id="selectDetail" parameterType="long" resultType="BoardDTO">
 	select 
 		<include refid="boardColumns"/>
 	from board_list
 	where bno = #{bno}
 	AND delete_yn = 0
 </select>
 
 
 <!-- 게시글 리스트 조회 -->
 <select id="selectList" parameterType="BoardDTO" resultType="BoardDTO">
 	SELECT 
 		<include refid="boardColumns"/>
	FROM 
		board_list
	WHERE 
		deltet_yn = 0
	ORDER BY
		bno DESC 
 </select>
 
 
 
 



</mapper>