<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.BoardMapper">

<!-- 게시글 테이블 -->
 <sql id="boardColumns">
 	bno
 	, category
 	, user_number
 	, title
 	, content
 	, reg_date
 	, update_date
 	, delete_yn
 </sql>
 
 <!-- 신고 테이블 -->
 <sql id="reportColumns">
 	bno
 	, user_number
 	, report_content
 	, manage_yn
 </sql>
 
 <!-- 댓글 테이블 -->
 <sql id="commentColumns">
 	cmt_num
 	, bno
 	, user_number
 	, cmt_content
 	, write_date
 	, cmt_update
 	, cmt_delete_yn
 </sql>
 
 <!-- 이미지 테이블 -->
 <sql id="imgColumns">
 	img_number
 	, bno
 	, img_path
 	, img_show_yn
 	, img_name
 </sql>
 
 <!-- 게시글 카테고리 -->
 <sql id="categoryColumns">
 	category
 </sql>
 
 <!-- 게시글 조회 -->
 <select id="detailBoard" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="boardColumns"/>
 	from board_list
 	where bno = 2
 </select>
 
  <!-- 신고 조회 -->
 <select id="detailReport" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="reportColumns"/>
 	from report_table
 </select>
 
  <!-- 댓글 조회 -->
 <select id="detailComment" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="commentColumns"/>
 	from comment_table
 </select>
 
  <!-- 이미지 조회 -->
 <select id="detailImg" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="imgColumns"/>
 	from img_table
 </select>
 
  <!-- 카테고리 조회 -->
 <select id="detailCategory" parameterType="BoardDTO" resultType="BoardDTO">
 	select <include refid="categoryColumns"/>
 	from category
 </select>
 
 
 
 <!-- 게시글 저장 -->
 <insert id="insertBoard" parameterType="BoardDTO" >
 	insert into board_list (
 		<include refid="boardColumns"/>
 	) values (
 		#{bno}
 		, #{category}
 		, #{userNumber}
 		, #{title}
 		, #{content}
 		, now()
 		, null
 		, IFNULL(#{deleteYn},0)
 	) 
 </insert>
 
 
 <!-- 상세 조회 -->
 <select id="selectDetail" parameterType="long" resultType="BoardDTO">
 	select 
 		<include refid="boardColumns"/>
 	from board_list
 	where bno = #{bno}
 	AND delete_yn = 0
 </select>
 
  <!-- 신고하기 -->
<insert id="report" parameterType="BoardDTO">
	<!-- insert into report_table values (#{bno},#{userNumber},#{reportContent},0); -->
	insert into report_table values
		(2
		, 2
		, #{reportContent}
		, 0);
</insert>
 
 
 <!-- 게시글 리스트 조회 -->
 <select id="selectList" resultType="BoardDTO">
 	SELECT 
 		<include refid="boardColumns"/>
	FROM 
		board_list
	WHERE 
		delete_yn = 0
	AND 
		category = #{category}
	ORDER BY
		bno DESC 
	LIMIT 
		#{skip},#{amount}
 </select>
	
	
<!-- 마이 페이지 글 조회 -->
 <select id="getMyListBoard" resultType="BoardDTO">
 	SELECT 
 		<include refid="boardColumns"/>
	FROM 
		board_list
	WHERE 
		delete_yn = 0
	AND 
		user_number = #{userNumber}
	ORDER BY
		bno DESC 
	LIMIT 
		#{skip},#{amount}
</select>


<!-- 총 게시글 수 출력 -->
<select id="getCount" parameterType="String" resultType="int">
	SELECT 
 		count(*)
	FROM 
		board_list
	WHERE 
		delete_yn = 0
		AND category = #{category}
</select>

<!-- 총 마이 페이지 수 출력 -->
<select id="getMyCount" parameterType="Long" resultType="int">
	SELECT 
 		count(*)
	FROM 
		board_list
	WHERE 
		delete_yn = 0
		AND user_number = #{userNumber}
</select>

<!-- 이미지 저장 -->
<insert id="insertImg" parameterType="BoardDTO">
	INSERT INTO img_table
	VALUES (
		#{imgNumber}
		,#{bno}
		,#{imgPath}
		,1
		,#{imgName}
		)
</insert>

<!-- 최근 마지막 게시글 데이터 불러오기 > bno 얻어오기 위해 -->
<select id="getLastBoard" resultType="BoardDTO">
	SELECT 
		*
	FROM 
		board_list
	ORDER BY 
		bno DESC
	LIMIT 1;
</select>

<select id="findWriterFromUserNumber" parameterType="Long" resultType="String">
	select 
		user_nickname 
	from 
		users_table
	where 
		user_number = #{writerNumber};
</select>

<select id="findImgsFromBno" parameterType="Long" resultType="ImgDTO">
	select 
		<include refid="imgColumns"/>
	from 
		img_table
	where 
		bno = #{boardBno}
	and 
		img_show_yn = 1
	order by 
		img_number 
	asc 
	limit 
		4;
</select>

</mapper>