<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.DustMapper">

<!-- 훈련 데이터 -->
<sql id="trainColumns">
	region
	, date
	, weather
	, humidity
	, wind_speed
	, kor_wind
	, cn_pm10
	, kor_pm10
</sql>

<!-- 예측 테이블 -->
<sql id="predictColumns">
	region
	, date
	, weather
	, humidity
	, wind_speed
	, kor_wind
	, cn_pm10
	, kor_pm10
</sql>

<!-- 훈련 테이블 조회 -->
	<select id="detailInfo" parameterType="DustDTO" resultType="DustDTO" >
		select <include refid="trainColumns"/>
		from training_table
	</select>
	
<!-- 예측 테이블 조회 -->
	<select id="detailInfo2" parameterType="DustDTO" resultType="DustDTO" >
		select <include refid="predictColumns"/>
		from prediction_table
	</select> 
	
<!-- 예측 리스트 불러오기 (임시) -->
	<select id="getPredictionList1" parameterType="DustDTO" resultType="DustDTO">
	select 
		pt.*
	from 
		prediction_table pt
	inner join 
		region_detail_table rdt
	on 
		pt.region = rdt.lower_region 
	where 
		rdt.upper_region = #{region};
<!--  	limit
		7; --> 
	</select>

<!-- 예측 리스트 불러오기 = 전국일 경우(임시) -->
	<select id="getPredictionList2" parameterType="DustDTO" resultType="DustDTO">
	select 
		*
	from 
		prediction_table
	order by 
		kor_pm10;
<!--  	limit 
		7; -->
	</select>

</mapper>