<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.UserMapper">

<!-- sql 컬럼 명은 db에 생성한 컬럼명과 동일해야 한다. -->
	<sql id="userColumns">
		user_number
		, user_nickname
		, user_id
		, user_password
		, user_email
		, user_region
		, sign_in_date
		, withdrawal_yn
		, withdrawal_date
		, admin_yn
	</sql>
	
	<sql id="mapColumns">
		region
		, img_url
	</sql>
	
	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO users_table(
			<include refid="userColumns"/>
			) VALUES (
				#{userNumber}
				, #{userNickname}
				, #{userId}
				, #{userPassword}
				, #{userEmail}
				, #{userRegion}
				, NOW()
				, false
				, NULL
				, false
			)
	</insert> 
	

	<select id="detailUser" parameterType="long" resultType="UserDTO">
		SELECT <include refid="userColumns"/>
		FROM users_table
		WHERE user_number = #{userNumber}
	</select>
	
	<!-- 새로 작성한 -->
    <select id="loginCheck" parameterType="UserDTO" resultType="UserDTO">
<!-- 		SELECT user_id, user_password
		FROM users_table 
		WHERE user_id = #{userId} AND user_password = #{userPassword} -->
		SELECT
			<!-- user_number, user_id, user_password -->
			*
		FROM
			users_table 
		WHERE
			user_id = #{userId} AND user_password = #{userPassword} AND withdrawal_yn = 0
	</select>
	
	
	<select id="testImg" parameterType="long" resultType="String">
		SELECT img_url
		FROM map_image_table
		WHERE region = (select user_region from users_table where user_number = #{userNumber})
	</select>
	

	




</mapper>