<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.WeatherMapper">

	<sql id="weatherColumns">
		fcstDate
		, fcstTime
		, wsd
		, vec
		, pcp
		, reh
		, pty
		, sky
		, tmp
		, baseDate
		, baseTime
		, region
	</sql>
	
	
	<!-- 데이터 입력 -->
	<insert id="insertWeather" parameterType="WeatherDTO" >
		INSERT INTO weather_table (
			<include refid="weatherColumns"/>
		) VALUES (
			#{fcstDate}
			, #{fcstTime}
			, #{wsd}
			, #{vec}
			, #{pcp}
			, #{reh}
			, #{pty}
			, #{sky}
			, #{tmp}
			, #{baseDate}
			, #{baseTime}
			, #{region}
		)
	</insert>
	
	<!-- 데이터 조회 -->
	<select id="getWeather" resultType="WeatherDTO">
		SELECT 
			*
		FROM 
			weather_table
		WHERE
		<!-- 서울 데이터만 존재 할 경우 들어가지 않아도 된다. -->
<!-- 			region = #{region}
		AND -->
			fcstDate = #{fcstDate}
		AND 
			fcstTime = #{fcstTime}
	</select>
	
	<!-- 미래 24시간까지의 기상 조회 -->
	<select id="getWeatherFromTime" resultType="WeatherDTO">
		select 
			*
		from 
			weather_table
		
		<![CDATA[where
			TIMESTAMPDIFF(
				hour 
				, CONCAT(
					date_format(fcstDate, '%Y-%m-%d')
					, ' '
					, CONCAT( 
						substr(fcstTime, 1, 2 )
						, ':' 
						, SUBSTR(fcstTime, 3, 2)
					)
				)		
				, now()
			) < 0
		and 
			TIMESTAMPDIFF(
				hour 
				, concat(
					date_format(fcstDate, '%Y-%m-%d')
					, ' '
					, CONCAT( 
						SUBSTR(fcstTime, 1, 2 )
						, ':' 
						, SUBSTR(fcstTime, 3, 2)
					)
				)		
				, now()
			) > -24 ]]> ;
			
	</select>

</mapper>