
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>Error Page : 404</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
.bgimg {
    border: 0;
    padding: 0; 
    background-image: url('../img/errorPage.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;

}
</style>
<body>
	<!-- 네브바  인데 로그인과 회원가입에는 필요 하지 않을 것 같아 주석처리함 -->
	<div th:replace="fragments/body :: main-css"></div>
	<div th:replace="fragments/body :: main-nav"></div>

	<div class="bgimg"></div>

</body>
</html>