<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Change Password Page</title>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
	// 사용자가 입력한 데이터

	var userInputPassword;

	var passwordCheck = false;

	var passwordRegex = /[a-zA-Z0-9]{6,20}/;

	function checkAuthority() {
		if (passwordCheck == false) {
			return false;
		}
	}

	$(document)
			.ready(
					function() {

						$("#userPassword")
								.change(
										"change keyup paste",
										function() {

											var newValue = $(this).val();
											var rule = "";

											try {
												rule = newValue
														.match(passwordRegex)[0];
												console.log(rule);
											} catch (e) {
												console.log("fail")
											}
											;
											if (newValue == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '비밀번호를 입력해주세요'
																		+ '</div>');
												passwordCheck = false;
												return;
											}
											if (rule != newValue || rule == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '6~20자의 영문,숫자만 사용 가능합니다.'
																		+ '</div>');
												passwordCheck = false;
												return;
											}

											var userInputPassword = $(
													"#passwordCheck").val();

											if (newValue == userInputPassword) {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error"></div>');
												passwordCheck = true;
											} else {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">입력한 비밀번호와 일치하지 않습니다.</div>');
												passwordCheck = false;
											}
										});

						$("#passwordCheck")
								.change(
										"change keyup paste",
										function() {

											var newValue = $(this).val();
											var rule = "";

											try {
												rule = newValue
														.match(passwordRegex)[0];
												console.log(rule);
											} catch (e) {
												console.log("fail")
											}
											;

											if (newValue == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '비밀번호를 입력해주세요'
																		+ '</div>');
												return;
											}

											if (rule != newValue || rule == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '6~20자의 영문,숫자만 사용 가능합니다.'
																		+ '</div>');
												passwordCheck = false;
												return;
											}

											var userInputPassword = $(
													"#userPassword").val();

											if (newValue == userInputPassword) {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error"></div>');
												passwordCheck = true;
											} else {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">입력한 비밀번호와 일치하지 않습니다.</div>');
												passwordCheck = false;
											}
										});

					});
</script>

<style>
/* 이미지 위치 */
.title {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 2%;
}

/* 라벨 위치 조정 */
label {
	text-align: right;
	white-space: nowrap;
	width: 100%;

}
/* 폼태그 전체폼 크기 조정 */
form {
	width: 55%;
	padding-right: 7%;
}
/* error css */
div .error {
	color: red;
	font-size: 12px;
}

/* 비밀번호 아이콘 */
#icon_pw input {
	background-image: url("../img/eye-slash-fill.svg");
	background-position: 98% center;
	background-repeat: no-repeat;
}

#icon_pw2 input {
	background-image: url("../img/eye-slash-fill.svg");
	background-position: 98% center;
	background-repeat: no-repeat;
}

.changepw_btn {
	padding-left: 19%;
	padding-right: 2%;
}

.changepw_btn a {
	padding-left: 9%;
	padding-right: 9%;
	text-decoration: none;
	border-color: transparent;
}
</style>

</head>

<body>

	<!-- header -->
	<header class="p-3 mb-3 border-bottom">
		<div class="container">
			<div
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="./change_password.html"
					class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
					<svg class="bi me-2" width="50" height="50" role="img"
						aria-label="Logo">
                        <image href="/img/Logo.png" width="50"
							height="50"></image>
                        <h4>
							<strong>별애별 모임</strong>
						</h4>
                    </svg>
				</a>
				
				<ul
					class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
					<li><a href="#" class="nav-link px-2 link-dark">관측지</a></li>
					<li><a href="#" class="nav-link px-2 link-dark">소통방</a></li>
					<li><a href="#" class="nav-link px-2 link-dark">상점</a></li>
				</ul>
				
				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
					<button class="btn btn-secondary" type="button">Login</button>
					<button class="btn btn-primary" type="button">회원 가입</button>
				</form>
		
			</div>
		</div>
	</header>

	<!-- 계정 찾기 누르고 비밀번호 변경 페이지-->

	<div class="container">
		<div class="title">
			<img alt="logo" src="../img/Logo.png">
			<h5 style="margin-top: 10px;">
				<strong>비밀번호 변경</strong>
			</h5>
		</div>

		<!-- 아래 리턴에서 에러라고 밑줄 떠있는게 정상 ==> true일때만 컨트롤러로 이동하겠다는 의미 -->
		<div class="d-flex justify-content-center">
			<form th:action="@{/changePassword.do}" method="post" onsubmit="return checkAuthority()">
				<div class="ID">
				<div class="row mb-2">
					<label for="userId" class="col-sm-3 col-form-label">아이디</label>
					<div class="col-sm-8">
						<input class="form-control" type="text" id="userId" name="userId"
							th:value="*{userDTO.userId}" />
						<div id="IDerror" class="error"></div>
					</div>
				</div>
				</div>
		<!-- 비밀번호 -->
		<div id="password">
			<div class="row mb-2">
				<label for="userPassword" class="col-sm-3 col-form-label">비밀번호</label>
				<div class="col-sm-8">
					<div id="icon_pw">
						<input type="password" class="form-control" id="userPassword"
							name="userPassword" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
						<div id="PasswordError" class="error"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- 비밀번호 재확인 -->
		<div id="password2">
			<div class="row mb-2">
				<label for="passwordCheck" class="col-sm-3 col-form-label">비밀번호
					재확인</label>
				<div class="col-sm-8">
					<div id="icon_pw2">
						<input type="password" class="form-control" id="passwordCheck"
							name="passwordCheck" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
						<div id="PasswordCheckError" class="error"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- 원래 있던 코드 -->
		<!-- <div class="password">
			    <label for="userPassword">비밀번호</label>
	            <input type="password" id="userPassword" name="userPassword" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
		    	비밀번호 input 태그와 눈모양 아이콘을 위한 i 태그.
		        <i class="fa fa-eye fa-lg"></i>
		        <div id="PasswordError" class="error"></div> 비밀번호 확인
		    </div>
		    <div class="passwordCheck"><span>비밀번호 재확인</span> 
		        <input id="passwordCheck" type="password" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
		        <div id="PasswordCheckError" class="error"></div>
		    </div> -->

		<div class="changepw_btn">
			<a href="star/login" class="d-grid gap-2 mx-auto">
				<button class="btn btn-secondary" type="submit">비밀번호 변경</button>
			</a>
		</div>
		</form>
	</div>
	</div>
	<!-- footer -->
	<div class="container">
		<footer
			class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/"
					class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
					<svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap" /></svg>
				</a> 
				<span class="mb-3 mb-md-0 text-muted">&copy; 2022 별애별 모임, Human</span>
			</div>
		</footer>
	</div>

	<!-- CSS only -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
		crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous">
		
	</script>
</body>

</html>