<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link rel="stylesheet" href="/css/changeInfo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>changeInfo</title>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    
 	// 사용자가 입력한 데이터
    var userInputId;
 	var userInputPassword;
	var userInputNickname;	
	
	// 닉네임, 비밀번호 입력칸을 잘 넘어갔는지 Yes or No
    var passwordCheck = true;
	var nicknameCheck = false;
	
    
	// 비밀번호, 닉네임 정규표현식
    var passwordRegex = /[a-zA-Z0-9]{6,20}/;
	var nicknameRegex = /[가-힣a-zA-Z0-9]{2,8}/;
    
	/* 아이디, 닉네임, 이메일 유효성 체크 */
	$( document ).ready( function() {
		
		var userExistingNickname = $("#userNickname").val();
		var userExistingRegion;
		console.log(userExistingNickname);
		console.log(userExistingRegion);
		
		
		$("#userPassword").change("change keyup paste", function() {
        	
        	// 현재 변경된 데이터 셋팅
            var newValue = $(this).val();
        	
			var rule = "";
        	
        	try{
        		rule = newValue.match(passwordRegex)[0];
        		
        	} catch(e){
        		console.log("fail..")
        	};
        	
        	if (newValue==""){
        		$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">' + '</div>');
        		passwordCheck = true;
        		return;
        	}
            if(rule != newValue || rule == ""){
            	$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">' + '6~20자의 영문,숫자만 사용 가능합니다.' + '</div>');
            	passwordCheck = false;
            	return;
            }
            
            var userInputPassword=$("#passwordCheck").val();
            
            if(newValue == userInputPassword){
	            $("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">'+'</div>');
	        	passwordCheck = true;
            } else{
            	$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">입력한 비밀번호와 일치하지 않습니다.</div>');
            	passwordCheck = false;
            }
		});
            
		$("#passwordCheck").change("change keyup paste", function() {
            	
           	// 현재 변경된 데이터 셋팅
               var newValue = $(this).val();
           	
			var rule = "";
           	
           	try{
           		rule = newValue.match(passwordRegex)[0];
                console.log(rule);
           	} catch(e){
           		console.log("fail")
           	};
           	
           	
           	if (newValue==""){
           		$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">' + '비밀번호를 입력해주세요' + '</div>');
           		return;
           	}
           	
            if(rule != newValue || rule == ""){
            	$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">' + '6~20자의 영문,숫자만 사용 가능합니다.' + '</div>');
            	passwordCheck = false;
            	return;
            }
            
            var userInputPassword=$("#userPassword").val();
            
            if(newValue == userInputPassword){
            	$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error"></div>');
            	passwordCheck = true;
            } else{
            	$("#PasswordCheckError").replaceWith('<div id="PasswordCheckError" class="error">입력한 비밀번호와 일치하지 않습니다.</div>');
            	passwordCheck = false;
            }
		});
            
		$("#userNickname").change("change keyup paste", function() {
           	
           	// 현재 변경된 데이터 셋팅
           	var newValue = $(this).val();
           	var rule = "";
           	
           	try{
           		rule = newValue.match(nicknameRegex)[0];
                console.log(rule);
           	} catch(e){
           		console.log("fail")
           	};
           	
           	// 입력칸이 비어있는 경우
           	if (newValue==""){
           		$("#nicknameError").replaceWith('<div id="nicknameError" class="error">' + '닉네임을 입력해주세요' + '</div>');
           		return;
           	}
           	
           	// 정규식에 부합하는 내용이 하나도 없거나 두개 이상인경우 
            if(rule != newValue || rule == ""){
            	$("#nicknameError").replaceWith('<div id="nicknameError" class="error">' + '2~8자의 한글,영문,숫자만 사용 가능합니다.' + '</div>');
            	nicknameCheck = false;
            	return;
            }
           	if (userExistingNickname == newValue){
           		$("#nicknameError").replaceWith('<div id="nicknameError" class="error">' + '</div>');
            	nicknameCheck = true;
            	return;
           	}
               
            //json 형태로 전송
       	    var userDto={
       	        userNickname:newValue
       	    };
   			
       	    $.ajax({
       	        url: "/inputNicknameCheck",
       	        data: userDto,
       	        type:"POST",
       	    }).done(function (fragments) {
       	    	
       	    	var uniqueResult = fragments[0];
       	    	
       	        if (uniqueResult == "이미 사용중입니다."){
       	        	nicknameCheck = false;
       	        	$("#nicknameError").replaceWith('<div id="nicknameError" class="error">' + uniqueResult + '</div>');
       	        } else {
       	        	nicknameCheck = true;
       	        	$("#nicknameError").replaceWith('<div id="nicknameError" class="error"></div>');
       	        }
       	    });
                
        });
        	
            
	});
</script>
		
<script th:inline="javascript">
	
	function changeUserInfo(){
		
		if (passwordCheck == false){
			alert("비밀번호를 확인해주세요.")
			return false;
		} else if (nicknameCheck == false){
			alert("닉네임을 확인해주세요.")
			return false;
		} else{
			alert("변경되었습니다.")
			return true;
		}
	}
    
</script>
    
    
    
    
</head>
<body>
    <!-- 이미지 + 정보변경 텍스트 -->
    <div id="change_logo">
	    <h1 id="정보변경">
	        <img id="logo" src="/img/Logo.png" alt="별애별로고" width="150px;">
	        <div class="change_info">
	            <span class="logoname">정보변경</span>
	        </div>
	    </h1>
    </div>
    
    	<!-- 아래 리턴에서 에러라고 밑줄 떠있는게 정상 ==> true일때만 컨트롤러로 이동하겠다는 의미 -->
    	<form th:action="@{/changeInfo.do}" method="post" onsubmit="return changeUserInfoE()">
    
	    	<input type="hidden" id="userId" name="userId" th:value="*{userDTO.userId}"/>
	    
			<!-- 비밀번호 변경 -->
	        <div id="change_pn">
	        <div class="change_pass" style="text-align: center;"> 
	            <label for="userPassword" class="lab_pass"></label>
	            <input type="password" name="userPassword" id="userPassword" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
	            <span class="material-symbols-outlined">
	                visibility
	            </span>
	        </div>
	        
	        <div class="change_pass" style="text-align: center;">
		        <label for="passwordCheck" class="lab_pass"></label>
		        <input type="password" name="passwordCheck" id="passwordCheck" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
		        <span class="material-symbols-outlined">
		            visibility
		        </span>
	        </div>
	        <div id="PasswordCheckError" class="error"></div> <!--비밀번호 확인-->
	        
	        
			<!-- 닉네임 변경 -->
	        <div class="change_nick" style="text-align: center;">
	            <label for="userNickname" class="lab_nick"></label>
	            <input type="text" name="userNickname" id="userNickname" required placeholder="닉네임을 입력해주세요." th:value="*{userDTO.userNickname}">
	            
	            <!-- <input type="text" id="userNickname" name="userNickname" th:value="*{userDTO.userNickname}"/> -->
    			<!-- <input type="text" id="userRegion" name="userRegion" th:value="*{userDTO.userRegion}"/> -->
	            
	            <div id="nicknameError" class="error"></div>
	        </div>
	        </div>
		<!-- 기본지역 변경 -->
	    <div class="change_reg">
	        <select id="userRegion" name="userRegion" required>
	        	<!-- <option th:selected="${userDTO.userRegion}=='전국'">전국</option>
	        	<option th:selected="${userDTO.userRegion}=='서울'">서울</option>
	        	<option th:selected="${userDTO.userRegion}=='부산'">부산</option> -->
	            <option value="전국" th:selected="${userDTO.userRegion}== '전국' ">전국</option>
	            <option value="서울" th:selected="${userDTO.userRegion}== '서울' ">서울</option>
	            <option value="부산" th:selected="${userDTO.userRegion}== '부산' ">부산</option>
	            <option value="대구" th:selected="${userDTO.userRegion}== '대구' ">대구</option>
	            <option value="인천" th:selected="${userDTO.userRegion}== '인천' ">인천</option>
	            <option value="광주" th:selected="${userDTO.userRegion}== '광주' ">광주</option>
	            <option value="대전" th:selected="${userDTO.userRegion}== '대전' ">대전</option>
	            <option value="울산" th:selected="${userDTO.userRegion}== '울산' ">울산</option>
	            <option value="세종" th:selected="${userDTO.userRegion}== '세종' ">세종</option>
	            <option value="경기도" th:selected="${userDTO.userRegion}== '경기도' ">경기도</option>
	            <option value="강원도" th:selected="${userDTO.userRegion}== '강원도' ">강원도</option>
	            <option value="충청북도" th:selected="${userDTO.userRegion}== '충청북도' ">충청북도</option>
	            <option value="충청남도" th:selected="${userDTO.userRegion}== '충청남도' ">충청남도</option>
	            <option value="전라북도" th:selected="${userDTO.userRegion}== '전라북도' ">전라북도</option>
	            <option value="전라남도" th:selected="${userDTO.userRegion}== '전라남도' ">전라남도</option>
	            <option value="경상북도" th:selected="${userDTO.userRegion}== '경상북도' ">경상북도</option>
	            <option value="경상남도" th:selected="${userDTO.userRegion}== '경상남도' ">경상남도</option>
	            <option value="제주도" th:selected="${userDTO.userRegion}== '제주도' ">제주도</option>
	        </select>
	    </div>
	    <div class="change_btn">
	        <button class="btn" type="submit">저장하기</button>
	    </div>
    </form>
    
</body>
</html>