<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link rel="stylesheet" href="changeInfo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>changeInfo</title>
</head>
<body>
    <!-- 이미지 + 정보변경 텍스트 -->
    <div id="change_logo">
    <h1 id="정보변경">
        <img id="logo" src="/img/Logo.png" alt="별애별로고" width="150px;">
        <div class="change_info">
            <span class="logoname">정보변경</span>
        </div>
    </h1>
    </div>
    <form id="changeInfo_form" action="changeInfo.do" method="post" onsubmit="userinfoCheck(this)">
<!-- 비밀번호 변경 -->
        <div id="change_pn">
        <div class="change_pass" style="text-align: center;"> 
            <label for="password" class="lab_pass"></label>
            <input type="password" name="" id="password" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
            <span class="material-symbols-outlined">
                visibility
            </span>
        </div>
<!-- 닉네임 변경 -->
        <div class="change_nick" style="text-align: center;">
            <label for="nickname" class="lab_nick"></label>
            <input type="text" name="" id="nickname" required placeholder="닉네임을 입력해주세요.">
        </div>
        </div>
<!-- 기본지역 변경 -->
    <div class="change_reg">
        <select name="region" required>
            <option value="" disabled selected>관측 원하는 지역</option>
            <option value="Nationwide"> 전국 </option>
            <option value="Seoul"> 서울 </option>
            <option value="Busan"> 부산 </option>
            <option value="Daegu"> 대구 </option>
            <option value="Incheon"> 인천 </option>
            <option value="Gwangju"> 광주 </option>
            <option value="Daejeon"> 대전 </option>
            <option value="Ulsan"> 울산 </option>
            <option value="Sejong"> 세종 </option>
            <option value="Gyeonggi-do"> 경기도 </option>
            <option value="Gangwon-do"> 강원도 </option>
            <option value="Chungcheongbuk-do"> 충청북도 </option>
            <option value="Chungcheongnam-do"> 충청남도 </option>
            <option value="Jeollabuk-do"> 전라북도 </option>
            <option value="Jeollanam-do"> 전라남도 </option>
            <option value="Gyeongsangbuk-do"> 경상북도 </option>
            <option value="Gyeongsangnam-do"> 경상남도 </option>
            <option value="Jeju-do"> 제주도 </option>
        </select>
    </div>
</form>
    <div class="change_btn">
        <button class="btn" type="submit">저장하기</button>
    </div>
</body>
</html>