<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Welcome!!</title>
  <link rel="stylesheet" type="text/css" href="../css/star.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en" class="no-js"><head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Welcome</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript">
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript">
		<meta name="author" content="Codrops">
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/demo.css">
		<link rel="stylesheet" type="text/css" href="css/component.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,800" rel="stylesheet" type="text/css">
		<!--[if IE]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="https://tympanus.net/codrops/adpacks/demoadpacks.css?1411519815227"><script id="_adpacks_projs" type="text/javascript" src="//cdn.buysellads.com/ac/pro.js"></script><script type="text/javascript" id="_bsaPRO_js" src="//srv.buysellads.com/ads/get/ids/C6SI42Y/?r=1411516800000&amp;segment_C6SI42Y=placement:tympanusnet&amp;freqcap=8367,3,3" async="async"></script><script type="text/javascript" async="" src="//adn.fusionads.net/launchbit/10790/null/?141151982"></script><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style></head>
	<body data-pinterest-extension-installed="cr1.3.4" cz-shortcut-listen="true">
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header" style="height: 775px;">
					<canvas id="demo-canvas" width="941" height="775"></canvas>
					<h1 class="main-title"> 별이 빛나는 <p class="thin">아름다운 밤이야</p></h1>
					<h3>hello</h3>
					<a href="/star/mainpage">시작하기</a>
				</div>
				
				
			</div>
			<!-- Related demos -->
			
			
		</div><!-- /container -->

<!-- For the demo ad only -->   

</body></html>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../js/star.js"></script>

</body>
</html>
