<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css 연결 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- bootstrap icon 연결 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>상세글 조회 페이지</title>
	<style>
	.temp3{
            width:100px;
            height:20px;
            border:1px solid green;
        }
        .temp4{
            width:480px;
            height:100px;
            border:1px solid blue;
        }
        .container {
            width:1500px;
            height:200px;
            border:1px solid blue;
            overflow: auto;
        }
        /* 신고 버튼 css */
        .wrap button {
        	width: 80px;
			height: 35px;
        	background-color: white;
        	border-color: #d9d9d9;
        	border-radius: 5px;
        	margin-left: 90%;
        }
        /* 신고 아이콘 색상(레드) */
        .bi-exclamation-circle-fill {
  			color: #FF0000;
        }
	</style>
	
	<!-- 신고 팝업창 -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script><script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
		function openPop(){
		  	var bno = $("#bno").val();
		  	console.log("시작?");
		  	console.log(bno);
		  	sessionStorage.setItem("boardBno", bno);
		  	
			var popup = window.open('/star/userReport', '신고사유'
	    						, 'width=500px,height=700px, top=100px, left=500px, scrollbars=no');
		}
	</script>
</head>
<body>
    <!-- <div class="temp1"> 네비게이션 </div> -->
    <div style="width:1450px; height:20px; padding:20px; border:1px solid blue;">네비</div>
    
    <!-- 신고하기 버튼 -->     
  <div class="wrap">
	<button type="button" onclick="openPop()">
		<i class="bi bi-exclamation-circle-fill"></i>신고
	</button>
 </div>
 
 <!-- 글 상세 조회 -->
   <!-- <input id="bno" name="bno" type="hidden" th:value="${boardDTO.bno}"> -->
   <div>
   	카테고리 : 
   	<br>
   	<input type="text" id="category" name="category" th:value="${session.criteria.category}">
   </div>
 	<div>
	 	작성자 :
	 	<br>
 		<!-- <input type="text" id="writer" name="writer" th:value="${writer}" readonly="readonly"> -->
 		<input type="text" id="writer" name="writer" th:value="${boardDTO.userNickname}" readonly="readonly">
 	</div>
 	
 	<br>
 	
 	<div>
	 	제목 :
	 	<br> 
    	<input type="text" id="title" name="title" th:value="${boardDTO.title}" readonly="readonly">
    </div>
    
    <br>
    
    <div>
    	내용 : 
    	<br>
    	<textarea rows="10" cols="30" th:text="${boardDTO.content}" readonly="readonly"></textarea>
    </div>
    
    <div th:if="${#lists.size(imgDto)} > 0"  th:each="img : ${imgDto}">
    	<input type="image" id="imgPath" name="imgPath" th:src="'/imgfiles/' + ${img.imgName}" 
    		style="width:450px; height:400px; margin:0 auto; border:1px solid green;">
   		<br>
   		<!-- <input type="text" id="imgName" name="imgName" th:value="${#strings.substring(img.imgName,37)}" readonly="readonly"> -->
    </div> 
    
    
    <th:block th:if="${session.userDTO != null}">
			<!-- 수정 버튼 -->            
            <form th:action="@{/board/modify}" method="post">
            <input id="bno" name="bno" type="text" th:value="${boardDTO.bno}">
            	<!-- <input type="text" id="pageNum" name="pageNum" th:value="${criteria.pageNum }"> 
				<input type="text" id="amount" name="amount" th:value="${criteria.amount }">
				<input type="text" id="category" name="category" th:value="${criteria.category }">
				<input type="text" id="userNumber" name="userNumber" th:value="${criteria.userNumber }"> -->
				<!-- <input type="text" id="total" name="total"th:value="${pageMaker.total}"> -->
                <button type="submit">수정 하기</button>
            </form>
    	
    	<form th:action="@{/board/delete.do}" method="post">
    		<input type="hidden" name="bno" th:value="${boardDTO.bno}" />
    		<button type="submit">삭제하기</button>
    	</form>
	</th:block>
	
	
	
	

<div id="Comment" class="container">
	<h2>댓글</h2>
	
    	
         <div>
	         <input type="text" id="inputCmtContent" name="cmtContent" placeholder="댓글를 입력해 주세요." />
 	         <input type="text" id="inputBno" name="bno" th:value="${boardDTO.bno}" />
 	         <!-- 회원이 아닌 경우 생각해줘야 할 듯! -->
 	         <th:block th:if="session.userDTO != null">
  	         	<!-- <input type="text" id="inputUserNumber" name="userNumber" th:value="${session.userDTO.userNumber}" /> -->
	          </th:block>
	         <button type="button" onclick="writeComment();">댓글저장</button> 
         </div>   
     
         <table class="comment_list">
            <colgroup>
                <col width="15%"/>
                <col width="*"/>
                <col width="15%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">댓글번호</th>
                    <th scope="col">회원번호</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.size(commentList)} > 0"  th:each="list : ${commentList}">
		
                    <td th:text="${list.cmtNum}"></td>
                    <td th:text="${list.userNumber}"></td>
                    <td th:text="${list.cmtContent}"></td>                 
                    <td class="writeDate" th:text="${#temporals.format(list.writeDate, 'dd-MM-yyyy HH:mm')}"></td>
                
                </tr> 
               <tr th:unless="${#lists.size(commentList)} > 0">
                    <td colspan="4">조회된 결과가 없습니다.</td> 
               </tr>
            </tbody>
        </table>
</div>

<script th:inline="javascript">

function writeComment(){
	
	
	alert($("#inputCmtContent").val());
	alert($("#inputBno").val());
	alert($("#inputUserNumber").val());
	
/*  	$.ajax({
		url : "/star/detailed_check",
		type : "post",
		data : {"bno" : $("#inputBno").val(),
				"userNumber" : $("#inputUserNumber").val(),
				"cmtContent" : $("#inputCmtContent").val()
				},
		success : function(data){
			alert("ddd 완료");
			$("#Comment").html(data);
		},
		error : function (error){
			alert("ddd 실패");
			console.log(error);
		}
	}); */
		
	} 

</script>
</body>
</html>