<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <img src="\img\Logo.png" alt="로그인이미지">
    <div class="login-form">
        <div class="title"><h1 style="font-size: 30px;">로그인</h1></div>
            
        <form th:action="@{/star/login}" method="post" onsubmit="login(this)">
        	 <!--th:object="${Account}"   onsubmit="logInCheck(this)" -->
          	<div>
	        	<label for="userId">아이디</label>
				<input type="text" class="text-field" id="userId" name="userId" placeholder="아이디를 입력하세요">
				<!--  th:field="*{userId}" -->
			</div>
			<div>
	        	<label for="userPassword">비밀번호</label>
				<input type="password" class="text-field"  id="userPassword" name="userPassword" placeholder="비밀번호를 입력하세요">	 
				<!-- th:field="*{userPassword}" -->
			</div>

			<div class="btn_wrap text-center" th:object="${params}">
				<button type="submit" >로그인</button>
			</div>
    	</form>
        <div> 
            <a href="sendmail.do">회원 가입</a>
            <a href="findUser.do">계정 찾기</a>
        </div> 
    </div>
</body>
</html>