<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<table class="table table-hover">
		
		<thead> 
			<tr>
				<th>지역</th>
				<th>날짜</th>
				<th>계절</th>
				<th>습도</th>
				<th>풍속</th>
				<th>바람</th>
				<th>중국미세</th>
				<th>한국미세</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row : ${dustList}" >
			
				<td th:text="${row.region}"></td>
				<td th:text="${row.date}"></td> 
				<td th:text="${row.weather}"></td>
				<td th:text="${row.humidity}"></td>
				<td th:text="${row.windSpeed}"></td>
				<td th:text="${row.korWind}"></td>
				<td th:text="${row.cnPm10}"></td>
				<td th:text="${row.korPm10}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>