<!DOCTYPE html>
<!-- <html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <style>
	   /* 스위치 버튼 */
		input{ 
		  -webkit-appearance:none;
		  -webkit-border-radius:0;
		}
		
		#container{
/* 		  display: flex;
		  width: 100%;
		  height: 98vh;
		  justify-content:right;
		  align-items:center; */
		  width: 10px;
		  height: 5px;

		}
		.toggle-switch input[type=checkbox]{
		  display: none;
		}
		
		.toggle-track{
		  display: inline-block;
		  position: relative;
		  width: 60px;
		  height: 25px;
		  border-radius:60px;
		  background: #8b8b8b;
		}
		.toggle-track:before{
		  content:'';
		  display: block;
		  position: absolute;
		  top: -8px;
		  left: -15px;
		  width: 30px;
		  height: 30px; 
		  margin: 5px;
		  background: #fff;
		  border-radius:100%;
		  border:1px solid #8b8b8b;
		  transition:left 0.3s;
		}
		.toggle-switch input[type=checkbox] + label .toggle-track:after{
		  content:'시간';
		  display: inline-block;
		  position: absolute;
		  right: 8px;
		  color: #fff;
		}
		
		.toggle-switch input[type=checkbox]:checked + label .toggle-track{
		  background: #e51836;
		}
		.toggle-switch input[type=checkbox]:checked + label .toggle-track:before{
		  left: 30px;
		  border:1px solid #e51737;
		}
		.toggle-switch input[type=checkbox]:checked + label .toggle-track:after{
		  content:'주';
		  left: 5px;
		}

.userregion {
	padding-left: 15%;
	padding-bottom: 1%;
}


    </style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b9125e70384813c29bb964a22bf69f75"></script>
	
</head>
<body>
<div th:replace="fragments/body :: main-css"></div>
	<script>
		// 지역, geojson 경로 ->db?
		var region = new Array('서울','제주도','부산','전국','광주','전라남도','세종','전라북도','경상남도','경상북도','경기도','울산','대구','대전','충청남도','충청북도','강원도','인천');
		var geojsonUrl = new Array ('/geojson/seoul.geojson','/geojson/jeju.geojson','/geojson/busan.geojson','/geojson/korea.geojson','/geojson/gwangju.geojson','/geojson/jn.geojson','/geojson/sejong.geojson','/geojson/jb.geojson','/geojson/gn.geojson','/geojson/gb.geojson','/geojson/gg.geojson','/geojson/ulsan.geojson','/geojson/daegu.geojson','/geojson/daejeon.geojson','/geojson/cn.geojson','/geojson/cb.geojson','/geojson/gangwon.geojson','/geojson/incheon.geojson');
		var regionCenter = new Array([37.566826, 126.9786567],[33.400, 126.5000],[35.1379222,129.05562775],[36.6,127.5],[35.1,126.8],[35.1,126.8],[36.504,127.249],[35.824,127.147],[35.15,128.15],[36.15,128.45],[37.3,127.15],[35.5,129.184],[35.8,128.46],[36.37,127.33],[36.6,127],[36.6,127.5],[37.8,128.2],[37.2722,126.425]);
		var regionData = {region, geojsonUrl};
		var regionCenterData = {region,regionCenter};
		
		// 이전에 생성한 폴리곤들을 지우기 위해 
	    var polygons=[] ;
		
	    $body = $("body");
	
	    $(document).ready(function(){
/* 	    	var userNumber = document.getElementById("userNumber");
	    	console.log(typeof userNumber); */
	    	
	        $.ajax({
	           url : "/star/main2",
	           dataType: "html",	// 이 부분이 반환 타입을 핸들링하는 곳이다.
	           type: "get",
	           success: function(data) {
	           	$('#mapImg').html(data);
	           },
	           beforeSend:function(){
	        	   /* 로드 되기 전 */
	        	   $('.wrap-loading').removeClass('display-none');
	           },
	           complete:function(){
	        	   $('.wrap-loading').addClass('display-none');
	           },
	           error: function (){alert("지도 실패");}
	        });
	    	
	        console.log("--------------------1");
	        $.ajax({
		        url : "/star/main3",
		        dataType: "html",	// 이 부분이 반환 타입을 핸들링하는 곳이다.
		        type: "get",
		        success: function(data) {
		        	$('#weather').html(data);
		        },
		        error: function (){alert("기상조건 테이블 실패");}		        
		    });
	        
	        
	        $("select").on('focus',function(){
	        	var previous = this.value;
	        	console.log("현재값 : ",previous);
	        }).change(function(){
	              
	        	// 이전 폴리곤들 지우기
	        	deletePolygon(polygons);          
	           
	        	// 선택한 값
	        	var next = this.value;
	
	            // 선택한 값 출력
	            $("#selectedRegion").val(next);
	
	            var userSelectRegion = next;
	            
	            for(i=0; i < region.length; i++){
	                if(userSelectRegion == regionData.region[i]){
	                    console.log("지역 데이터URL : ",regionData.geojsonUrl[i]);
	                    var userSelectRegionUrl = regionData.geojsonUrl[i];
	                    var userSelectRegionCenter = regionCenterData.regionCenter[i];
	                }
	            }
	            
	            setCenter(userSelectRegionCenter);
	            showMap(userSelectRegionUrl);
	            
	            console.log("--------------------");
	            console.log(next);
	            console.log("--------------------");
	            
	            // 메인페이지 테이블
	            var dustDto={
	            		region:next
	            };
	
	            $.ajax({
	    	        url : "/star/main3",
	    	        dataType: "html",	// 이 부분이 반환 타입을 핸들링하는 곳이다.
	    	        data: dustDto,
	    	        type: "get",
	    	        success: function(data) {
	    	        $('#weather').html(data);
	    	        },
	    	        error: function (){alert("실패");}
	    	    });
	
	        });
	        
	    });
	    
	   

	    $(document).on({
	        ajaxStart: function() { $body.addClass("loading");    },
	         ajaxStop: function() { $body.removeClass("loading"); }    
	    });
	    
	</script>

	<div th:replace="fragments/body :: main-nav"></div>	
    <h1>안녕하세요</h1>
    
   <div class="userregion">
    <th:block th:if="${session.userDTO} != null">
	    <select id="userRegion" name="userRegion" class="form-select-sm" required>
	        <option value="전국" th:selected="${session.userDTO.userRegion}== '전국' ">전국</option>
	        <option value="서울" th:selected="${session.userDTO.userRegion}== '서울' ">서울</option>
	        <option value="부산" th:selected="${session.userDTO.userRegion}== '부산' ">부산</option>
	        <option value="대구" th:selected="${session.userDTO.userRegion}== '대구' ">대구</option>
	        <option value="인천" th:selected="${session.userDTO.userRegion}== '인천' ">인천</option>
	        <option value="광주" th:selected="${session.userDTO.userRegion}== '광주' ">광주</option>
	        <option value="대전" th:selected="${session.userDTO.userRegion}== '대전' ">대전</option>
	        <option value="울산" th:selected="${session.userDTO.userRegion}== '울산' ">울산</option>
	        <option value="세종" th:selected="${session.userDTO.userRegion}== '세종' ">세종</option>
	        <option value="경기도" th:selected="${session.userDTO.userRegion}== '경기도' ">경기도</option>
	        <option value="강원도" th:selected="${session.userDTO.userRegion}== '강원도' ">강원도</option>
	        <option value="충청북도" th:selected="${session.userDTO.userRegion}== '충청북도' ">충청북도</option>
	        <option value="충청남도" th:selected="${session.userDTO.userRegion}== '충청남도' ">충청남도</option>
	        <option value="전라북도" th:selected="${session.userDTO.userRegion}== '전라북도' ">전라북도</option>
	        <option value="전라남도" th:selected="${session.userDTO.userRegion}== '전라남도' ">전라남도</option>
	        <option value="경상북도" th:selected="${session.userDTO.userRegion}== '경상북도' ">경상북도</option>
	        <option value="경상남도" th:selected="${session.userDTO.userRegion}== '경상남도' ">경상남도</option>
	        <option value="제주도" th:selected="${session.userDTO.userRegion}== '제주도' ">제주도</option>
	    </select>
	    
	    <input type="hidden" id="selectedRegion" th:value="${session.userDTO.userRegion}"/>
	</th:block>
	</div>
	
	<div class="userregion">
	<th:block th:if="${session.userDTO} == null">
	    <select id="userRegion" name="userRegion" class="form-select-sm" required>
	        <option value="전국">전국</option>
	        <option value="서울">서울</option>
	        <option value="부산">부산</option>
	        <option value="대구">대구</option>
	        <option value="인천">인천</option>
	        <option value="광주">광주</option>
	        <option value="대전">대전</option>
	        <option value="세종">세종</option>
	        <option value="울산">울산</option>
	        <option value="경기도">경기도</option>
	        <option value="강원도">강원도</option>
	        <option value="충청북도">충청북도</option>
	        <option value="충청남도">충청남도</option>
	        <option value="전라북도">전라북도</option>
	        <option value="전라남도">전라남도</option>
	        <option value="경상북도">경상북도</option>
	        <option value="경상남도">경상남도</option>
	        <option value="제주도">제주도</option>
	    </select>
	    
	    <input type="hidden" id="selectedRegion" th:value="전국"/>
	</th:block>
	</div>
       
    <div class="map_border">
	    <div id="mapImg" class="d-flex justify-content-center">
	    <div class="wrap-loading display-none"><div><img src="../img/loading.jpg" /></div></div> 
	    </div> 
    </div>
    
    <br><br><br>
    <div>
		<!-- 스위치 버튼 -->
	    <div id="container">
		  <div class="toggle-switch">
		    <input type="checkbox" id="chkTog">
		    <label for="chkTog">
		      <span class="toggle-track"></span>
		    </label>
		  </div>
		</div>
	<br><br>
    
    <!-- 지역별 미세번지 테이블 -->	
   	<div id="weather" style="overflow:scroll;"></div>

	</div>
	
	<!-- 관측지 지역 추천(서울) 다른 html에 작성-->
	<a href="/star/goodPlaces">
	<input type="button" value="지역추천">
	</a>
	
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>