<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<div id="map" style="width:70%;height:500px;"></div>
    <script th:inline="javascript">    
  
    // 서울 대기 값
    var a = /*[[${mapWeather}]]*/null;
    
    // 서울 중심 좌표 값
    var seoulKey = new Array('강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구',
    		'동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구');
	var seoulCenter = new Array([37.490858, 127.055381],[37.537801,	127.140004],[37.62667, 127.025983],[37.560183,	126.825448],
				[37.464740, 126.954547],[37.53854435173622, 127.08238008244685],[37.496756,	126.870793],
				[37.45683032995246, 126.89544944848646],[37.65251105,127.0750347],[37.66910208, 127.0323688],
				[37.57441483363414, 127.0397424112896],[37.496029,	126.953822],[37.55931349,126.90827],
				[37.579152852232355, 126.93681227173859],[37.481426,	126.997596],[37.55102969, 127.0410585],
				[37.6057019, 127.0175795],[37.499703,	127.112183],[37.51696145482368, 126.86650994142916],
				[37.515504,	126.907628],[37.53241211712065, 126.99056990247058],[37.60281068511944, 126.92895004748966],
				[37.59491732,126.9773213],[37.56014356,126.9959681],[37.59780259,127.0928803]);
	var seoulData = {seoulKey,seoulCenter};
	
	
    	
        // 지도 띄우기
        var mapContainer = document.getElementById('map'),
        mapOption = { 
            // 지도의 중심좌표
            center: new kakao.maps.LatLng(37.566826, 126.9786567), 
            // 소수점 불가
            level: 8
        };
        
     	// 지도를 표시할 div와  지도 옵션으로  지도를 생성
        var map = new kakao.maps.Map(mapContainer, mapOption); 

     	var first = $("#selectedRegion").val();

	   	for(i=0; i < region.length; i++){
              if(first == regionData.region[i]){
                  console.log("지역 데이터URL : ",regionData.geojsonUrl[i]);
                  var userSelectRegionUrl = regionData.geojsonUrl[i];
                  var userSelectRegionCenter = regionCenterData.regionCenter[i];
              }
          }
	   	 
	    if(first == "서울"){
        	custonWeather();
        }
         setCenter(userSelectRegionCenter);
         showMap(userSelectRegionUrl);
         custonWeather();
            
        // 지도 보여주기
        function showMap(userSelectRegionUrl){
            $.getJSON(userSelectRegionUrl, function(geojson){
                var data = geojson.features;
                var coordinates = [];   
                var polygonType = '';
                var name = '';   

                $.each(data, function(index, val) {
                    // console.log("index 값 : ",index);

                    // 폴리곤 vs 멀티 폴리곤
                    polygonType = val.geometry.type;
                    console.log("polygon타입 : ",polygonType);
                    if(polygonType == "Polygon"){
                        // console.log("단일  :",val.geometry.coordinates);
                        coordinates = val.geometry.coordinates;
                        name = val.properties.SIG_KOR_NM; 
                        displayArea(coordinates, name);
                    }else{
                        name = val.properties.SIG_KOR_NM; 
                        var multicoordinates = val.geometry.coordinates;

                        $.each(multicoordinates,function(index,val){
                            if(val.length==1){
                                // console.log(val);
                                coordinates = val;
                                // console.log("반복 안 반복 coordinates",coordinates);
                                displayArea(coordinates, name);
                            }else{
                                $.each(val,function(index,val2){
                                    // console.log([val2]);
                                    coordinates = [val2];
                                    // console.log("반복 안 반복 안 반복 coordinates",coordinates);
                                    displayArea(coordinates, name);
                                })
                            }
                        })

                    }

                });
            })
        }

        function displayArea(coordinates,name){
            var path = [];
            // var points = [];

            // console.log(name);
            // console.log(coordinates);

            // geojson 형태에 따라 달라질 수 있다.
            $.each(coordinates[0], function(index,coordinate){
                var point = new Object();
                point.x = coordinate[1];
                point.y = coordinate[0];
                // points.push(point);
                path.push(new kakao.maps.LatLng(coordinate[1], coordinate[0]));
            });

            // 다각형을 생성
            var polygon = new kakao.maps.Polygon({
                map:map,
                path : path,
                strokeWeight : 2,
                strokeColor : '#004c80',
                strokeOpacity : 0.8,
                fillColor : '#fff',
                fillOpacity : 0.7
            });

            // 폴리곤s에 집어넣기
            polygons.push(polygon);
        }


        function setCenter(userSelectRegionCenter) {            
            // 이동할 위도 경도 위치를 생성합니다 
            console.log(userSelectRegionCenter);
            var moveLatLon = new kakao.maps.LatLng(userSelectRegionCenter[0],userSelectRegionCenter[1]);
            
            // 지도 중심을 이동 시킵니다
            map.setCenter(moveLatLon);
        }

        //지도 위 표시되고 있는 폴리곤 제거
        function deletePolygon(polygons,centerAsix) {
            for (var i = 0; i < polygons.length; i++) {
                polygons[i].setMap(null);
            }
            polygons = [];
        }

     
     // customOverlay 함수
     function custonWeather(){

        var index = 0;
        // 현재 날짜 및 시간
        var today = new Date();
        var hours = today.getHours();
        // 공공 데이터 
      	for(key in a){
    		// console.log(key,a[key]);
            // 커스텀 오버레이에 표시할 내용입니다     
            
			// 현재 초단기 예보
            for(let i=0;i<seoulKey.length;i++){
            	if(seoulData.seoulKey[i] == key){
            		console.log(key,a[key][0]);
            		
            		if(a[key][0]['SKY'] == 4){
            			/* 흐림 */
            			var content = 
            				'<link href="../css/weatherMap_info.css" rel="stylesheet">'
                    		+'<div class="weathermap_info"><div class="row d-flex justify-content-center align-items-center">'
                    		+'<div class="map_border card border" style="padding: 0; max-width: 4rem; margin-left: -2%; margin-right: -2%;"><div class="map_header card-header" style="background-color: transparent; font-size: 9px; font-weight: bold; padding: 2px 10px 2px 10px;">'+key+'</div>'
                    		+'<div class="map_body card-body text-danger" style="padding: 0; margin-top: -14%; margin-bottom: -5%;">'
                    		+'<img src="../weather/clouds.png" alt="" width="18" height="18" style="margin: 0;">'
                    		+'<p class="map_text card-text" style="font-size: 10px;">'+a[key][1]['TMP']+'</p></div></div>';
            		}else if(a[key][1]['SKY'] == 3){
            			/* 구름 많음 */
            			var content = 
            				'<link href="../css/weatherMap_info.css" rel="stylesheet">'
                    		+'<div class="weathermap_info"><div class="row d-flex justify-content-center align-items-center">'
                    		+'<div class="map_border card border" style="padding: 0; max-width: 4rem; margin-left: -2%; margin-right: -2%;"><div class="map_header card-header" style="background-color: transparent; font-size: 9px; font-weight: bold; padding: 2px 10px 2px 10px;">'+key+'</div>'
                    		+'<div class="map_body card-body text-danger" style="padding: 0; margin-top: -14%; margin-bottom: -5%;">'
                    		+'<img src="../weather/mostly.png" alt="" width="18" height="18" style="margin: 0;">'
                    		+'<p class="map_text card-text" style="font-size: 10px;">'+a[key][1]['TMP']+'</p></div></div>';
            		}else if(a[key][1]['PTY'] == 4 || a[key][1]['PTY'] == 1 ){
            			/* 소나기 또는 비 */
            			var content = 
            				'<link href="../css/weatherMap_info.css" rel="stylesheet">'
                    		+'<div class="weathermap_info"><div class="row d-flex justify-content-center align-items-center">'
                    		+'<div class="map_border card border" style="padding: 0; max-width: 4rem; margin-left: -2%; margin-right: -2%;"><div class="map_header card-header" style="background-color: transparent; font-size: 9px; font-weight: bold; padding: 2px 10px 2px 10px;">'+key+'</div>'
                    		+'<div class="map_body card-body text-danger" style="padding: 0; margin-top: -14%; margin-bottom: -5%;">'
                    		+'<img src="../weather/rain.png" alt="" width="18" height="18" style="margin: 0;">'
                    		+'<p class="map_text card-text" style="font-size: 10px;">'+a[key][1]['TMP']+'</p></div></div>';
            		}else if(a[key][1]['PTY'] == 3 ){
            			/* 눈 */
            			var content = 
            				'<link href="../css/weatherMap_info.css" rel="stylesheet">'
                    		+'<div class="weathermap_info"><div class="row d-flex justify-content-center align-items-center">'
                    		+'<div class="map_border card border" style="padding: 0; max-width: 4rem; margin-left: -2%; margin-right: -2%;"><div class="map_header card-header" style="background-color: transparent; font-size: 9px; font-weight: bold; padding: 2px 10px 2px 10px;">'+key+'</div>'
                    		+'<div class="map_body card-body text-danger" style="padding: 0; margin-top: -14%; margin-bottom: -5%;">'
                    		+'<img src="../weather/snow.png" alt="" width="18" height="18" style="margin: 0;">'
                    		+'<p class="map_text card-text" style="font-size: 10px;">'+a[key][1]['TMP']+'</p></div></div>';
            		}else if(a[key][1]['PTY'] == 2){
            			/* 비/눈 */
            			var content = 
            				'<link href="../css/weatherMap_info.css" rel="stylesheet">'
                    		+'<div class="weathermap_info"><div class="row d-flex justify-content-center align-items-center">'
                    		+'<div class="map_border card border" style="padding: 0; max-width: 4rem; margin-left: -2%; margin-right: -2%;"><div class="map_header card-header" style="background-color: transparent; font-size: 9px; font-weight: bold; padding: 2px 10px 2px 10px;">'+key+'</div>'
                    		+'<div class="map_body card-body text-danger" style="padding: 0; margin-top: -14%; margin-bottom: -5%;">'
                    		+'<img src="../weather/rain_snow.png" alt="" width="18" height="18" style="margin: 0;">'
                    		+'<p class="map_text card-text" style="font-size: 10px;">'+a[key][1]['TMP']+'</p></div></div>';
            		}else{
            			/* 맑음 */
            			var content = 
            				'<link href="../css/weatherMap_info.css" rel="stylesheet">'
                    		+'<div class="weathermap_info"><div class="row d-flex justify-content-center align-items-center">'
                    		+'<div class="map_border card border" style="padding: 0; max-width: 4rem; margin-left: -2%; margin-right: -2%;"><div class="map_header card-header" style="background-color: transparent; font-size: 9px; font-weight: bold; padding: 2px 10px 2px 10px;">'+key+'</div>'
                    		+'<div class="map_body card-body text-danger" style="padding: 0; margin-top: -14%; margin-bottom: -5%;">'
                    		+'<img src="../weather/sun.png" alt="" width="18" height="18" style="margin: 0;">'
                    		+'<p class="map_text card-text" style="font-size: 10px;">'+a[key][1]['TMP']+'</p></div></div>';
            		}
            		
            	
            		// console.log("일치!",seoulData.seoulKey[i]);
            		// console.log(seoulData.seoulCenter[i][0]);
            		// 커스텀 오버레이가 표시될 위치입니다 

            		// console.log(a[key][0]['SKY']);
                    var position = new kakao.maps.LatLng(seoulData.seoulCenter[i][0],seoulData.seoulCenter[i][1]);  

                    // 커스텀 오버레이를 생성합니다
                    var customOverlay = new kakao.maps.CustomOverlay({
                        position: position,
                        content: content   
                    });

                    // 커스텀 오버레이를 지도에 표시합니다
                    customOverlay.setMap(map); 
            		
            	}
            }
            index++;
    	}
  	 
     }

    </script>
    </html>