<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navHeader.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<title>navHeader</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- nav header 기본(가입안된)-->
    <header>
    <div class="nav_header">
    <ul  id="nav" class="nav nav-pills card-header-pills justify-content-around">
        <div class="nav_text">
            <a>
                <h2>별애별 모임</h2>
            </a>
        </div>
        <li class="nav-item">
        <a class="nav-home" href="" type="button">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-show" href="" type="button">관측지</a>
        </li>
        <li class="nav-item">
        <a class="nav-photo" href="" type="button">작품전</a>
        </li>
        <li class="nav-item">
        <a class="nav-talk" href="" type="button">소통방</a>
        </li>
        <form action="" method="post" onsubmit="" id="" cond="">
            <div class="logsignWrap">
                <div class="logsign">
                    <input type="submit" value="Login" alt="login" class="login"/>
                    <input type="submit" value="sign-up" name="signup" class="signup"/>
                </div>
            </div>
        </form>
    </ul>
</div>
</header>
    <div class="front_hi"><br>
        <div>'별애별 모임'</div>
        <div>전국의 미세먼지와 기상조건들을 참고하여</div>
        <div>천체를 관측하기에 좋은 지역을 찾아 드리며, 소통할 수 있는 커뮤니티 입니다!</div>
    </div>
</body>
</html>