<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!-- 부트스트랩 css, js, icon -->
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../js/bootstrap.js">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<title>지역 추천</title>
</head>


<body>
	<!-- 서울 기준 지역 추천 테이블 작성 -->
	<div class="title">
			<h4>
				<strong>지역 추천</strong>
			</h4>
		</div>
</body>
</html>