<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원가입</title>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>



<style>
/* 전체 배경 적용 */
html, body {
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/starpage.jpg);
	height: 100%;
	background-color: black;
	overflow: hidden;
}

/* 이미지 위치 */
.title {
	text-align: center;
	margin-top: 3%;
	padding: 2%;
	color: white;
}
/* sign border */
.sign_wrap {
	box-sizing: border-box;
	margin: 8% 31% 0 29%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5%;
	padding-left: 3%;
}

/* 라벨 위치 조정 */
label {
	text-align: left;
	white-space: nowrap;
	width: 100%;
	color: white;
}
/* 폼태그 전체폼 크기 조정 */
form {
	width: 100%;
}

input::placeholder {
	font-size: 14px;
}

/* error 글 */
div .error {
	color: white;
	font-size: 13px;
}

/* 비밀번호 아이콘 */
#icon_pw input {
	background-image: url("../img/eye-slash-fill.svg");
	background-position: 95% center;
	background-repeat: no-repeat;
}

#icon_pw2 input {
	background-image: url("../img/eye-slash-fill.svg");
	background-position: 95% center;
	background-repeat: no-repeat;
}

/* 관측 희망 지역 드롭바 다른 인풋과 간격 맞춤 */
.signup_btn {
	padding: 2% 2% 0 19%;
	margin-bottom: 4%;
}
</style>
</head>
<body>
	<!-- 별별 이미지 화면설계서 기준으로는 회원가입이라는 글이 없어서 주석 처리해놓음(였던것) -->
	<div th:replace="fragments/body :: main-css"></div>
	<div th:replace="fragments/body :: main-nav"></div>

	<!-- 회원가입 전체 폼 -->
	<div class="sign_wrap">
		<div class="title">
			<img alt="logo" src="../img/Logo.png">
			<h4>
				<strong>회원 가입</strong>
			</h4>
		</div>

		<!-- 아이디, 비번 등 폼 -->
		<div class="d-flex justify-content-center">
			<form th:action="@{/signupCheck}" method="post">

				<!-- 아이디 -->
				<div class="ID">
					<div class="row mb-2">
						<label for="userId" class="col-sm-3 col-form-label">아이디</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="userId" name="userId"
								placeholder="영어(대소문자 구분 가능)+숫자">
							<div id="IDerror" class="error"></div>
						</div>
					</div>
				</div>
				<!-- 비밀번호 -->
				<div id="password">
					<div class="row mb-2">
						<label for="userPassword" class="col-sm-3 col-form-label">비밀번호</label>
						<div class="col-sm-8">
							<div id="icon_pw">
								<input type="password" class="form-control" id="userPassword"
									name="userPassword" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
								<div id="PasswordError" class="error"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- 비밀번호 재확인 -->
				<div id="password2">
					<div class="row mb-2">
						<label for="passwordCheck" class="col-sm-3 col-form-label">비밀번호
							재확인</label>
						<div class="col-sm-8">
							<div id="icon_pw2">
								<input type="password" class="form-control" id="passwordCheck"
									name="passwordCheck" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
								<div id="PasswordCheckError" class="error"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- 닉네임 -->
				<div id="nick">
					<div class="row mb-2">
						<label for="userNickname" class="col-sm-3 col-form-label">닉네임</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="userNickname"
								name="userNickname" placeholder="닉네임을 입력해주세요.">
							<div id="nicknameError" class="error"></div>
						</div>
					</div>
				</div>
				<!-- 이메일 주소 -->
				<div id="email">
					<div class="row mb-2">
						<label for="userEmail" class="col-sm-3 col-form-label">메일
							주소</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input type="email" class="form-control" id="userEmail"
									name="userEmail" placeholder="star1234@star.com" style="">
								<input class="btn btn-secondary btn-sm" type="button"
									value="메일 발송" onclick="mailSend()">
							</div>
							<div id="emailError" class="error"></div>
						</div>
					</div>
				</div>
				<!-- 이메일 인증 번호 -->
				<div id="certify">
					<div class="row mb-2">
						<label for="certify_id" class="col-sm-3 col-form-label">인증번호</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input type="text" class="form-control" id="certify_id"
									name="certify_id" placeholder="인증번호 입력"><input
									class="btn btn-secondary btn-sm" type="button" value="인증 하기"
									onclick="check_certify()">
							</div>
						</div>
					</div>
				</div>
				<!-- 관측 희망 지역 -->
				<div id="region">
					<div class="row mb-2">
						<label for="userRegion" class="col-sm-3 col-form-label">관측
							희망 지역</label>
						<div class="col-sm-8">
							<div class="input-group">
								<select class="form-select" id="userRegion" name="userRegion"
									style="text-align: center; width: 50%">
									<option value="전국">전국</option>
									<option value="서울">서울</option>
									<option value="부산">부산</option>
									<option value="대구">대구</option>
									<option value="인천">인천</option>
									<option value="광주">광주</option>
									<option value="대전">대전</option>
									<option value="울산">울산</option>
									<option value="세종">세종</option>
									<option value="경기도">경기도</option>
									<option value="강원도">강원도</option>
									<option value="충청북도">충청북도</option>
									<option value="충청남도">충청남도</option>
									<option value="전라북도">전라북도</option>
									<option value="전라남도">전라남도</option>
									<option value="경상북도">경상북도</option>
									<option value="경상남도">경상남도</option>
									<option value="제주도">제주도</option>
								</select>
								<div id="regionError" class="error"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="signup_btn">
					<div class="d-grid gap-2 col-10 mx-auto">
						<input class="btn btn-secondary" type="button" value="가입하기"
							onclick="doSignup()">
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- 원래 초기에 있던 것 -->
	<!--  <div class="ID">
	       		<label for="userId">아이디</label>
	          	<input type="text" id="userId" name="userId" placeholder="영어(대소문자 구분 가능)+숫자">
	           <div id="IDerror" class="error"></div>
	       </div>
	       
	    <!-- <div class="password">
		    <label for="userPassword">비밀번호</label>
          	<input type="password" id="userPassword" name="userPassword" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
	    	비밀번호 input 태그와 눈모양 아이콘을 위한 i 태그.
	        <i class="fa fa-eye fa-lg"></i>
	        <div id="PasswordError" class="error"></div> 비밀번호 확인
	    </div>
	    <div class="passwordCheck">
	    <label for="passwordCheck">비밀번호 재확인</label> 
	        <input id="passwordCheck" type="password" placeholder="영어(대소문자 구분)+ 숫자, 최소 6자리">
	        <div id="PasswordCheckError" class="error"></div>
	    </div>
	    
	    <div class="nickname">
		    <label for="userNickname">닉네임</label> 닉네임
	        <input id="userNickname" name="userNickname" type="text" placeholder="닉네임을 입력해주세요.">
	        <div id="nicknameError" class="error"></div>
	    </div>
	    
	   		<div class="emailAddress">
	   			<label for="userEmail">메일 주소</label> 이메일 주소
	        	<input id="userEmail" name="userEmail" type="email" placeholder="이메일 주소를 입력하세요">
	            
	            <input value="메일 발송" type="button" onclick="mailSend()">
		        
		        <div id="emailError" class="error"></div>
	       	</div>
	       	<div class="checkCertify">
	       	<label for="certify_id">인증 번호</label> 이메일 주소
	        <input type="text" id="certify_id" placeholder="인증번호 입력">
	        <input type="button" onclick="check_certify()" value="인증하기">
	        </div> -->

	<!-- </form> -->

	<!--  <div class="region">
	    
	    	<span>관측 희망 지역</span> 기본 지역 선택
	        <select id="userRegion" name="userRegion">
	            <option value="전국">전국</option>
	            <option value="서울">서울</option>
	            <option value="부산">부산</option>
	            <option value="대구">대구</option>
	            <option value="인천">인천</option>
	            <option value="광주">광주</option>
	            <option value="대전">대전</option>
	            <option value="울산">울산</option>
	            <option value="세종">세종</option>
	            <option value="경기도">경기도</option>
	            <option value="강원도">강원도</option>
	            <option value="충청북도">충청북도</option>
	            <option value="충청남도">충청남도</option>
	            <option value="전라북도">전라북도</option>
	            <option value="전라남도">전라남도</option>
	            <option value="경상북도">경상북도</option>
	            <option value="경상남도">경상남도</option>
	            <option value="제주도">제주도</option>
	        </select>
	        <div id="regionError" class="error"></div>
	        <div class="line">
	            <hr>
	        </div>
	        
	    </div>
	    
	    <div class="signUp" style="text-align: center;">    		
            <input class="signbtn" type="button" value="가입하기" onclick="doSignup()">
        </div>
 	
 	</form>
 	</div> -->
<script>
	// 사용자가 입력한 데이터
	var userInputId;
	var userInputPassword;
	var userInputNickname;
	var userInputEmail;
	var userInputRegion;
	var certify;

	// id, 닉네임, 비밀번호, 이메일 입력칸을 잘 넘어갔는지 Yes or No
	var IdCheck = false;
	var passwordCheck = false;
	var nicknameCheck = false;
	var emailCheck = false;
	var certifyCheck = false;

	// id,비밀번호, 닉네임, 정규표현식
	var IdRegex = /[a-zA-Z0-9]{6,12}/;
	var passwordRegex = /[a-zA-Z0-9]{6,20}/;
	var nicknameRegex = /[가-힣a-zA-Z0-9]{2,8}/;
	var emailRegex = /[a-zA-Z0-9]+@[a-zA-Z]+\.[a-zA-Z-.]+/;

	/* 메일 발송하기 */
	function mailSend() {

		if (emailCheck == false) {
			return;
		}

		userInputEmail = $("#userEmail").val();

		var mailDto = {
			address : userInputEmail
		};

		$
				.ajax({
					url : "/mailSend",
					data : mailDto,
					type : "POST",
				})
				.done(
						function(fragments) {
							certify = fragments[0];

							$("#emailError")
									.replaceWith(
											"<div id=emailError style='color: white; font-size: 13px;'>메일을 확인해주세요!</div>");
						});
	}

	/* 인증번호 체크하기 */
	function check_certify() {
		var input_data = $("#certify_id").val();

		if (input_data == certify) {
			certifyCheck = true;
			alert("인증 성공")
			$("#emailError").replaceWith("<div id=emailError></div>");
			$("#userEmail")
					.replaceWith(
							'<input type="text" name="userEmail" id="userEmail" readonly="readonly" value='+ userInputEmail +'>');

		} else {
			certifyCheck = false;
			alert("인증 실패")
		}
	}

	function doSignup() {

		if (IdCheck == false) {
			alert("아이디를 확인해주세요.")
		} else if (passwordCheck == false) {
			alert("비밀번호를 확인해주세요.")
		} else if (nicknameCheck == false) {
			alert("닉네임을 확인해주세요.")
		} else if (certifyCheck == false) {
			alert("이메일 인증을 진행해주세요.")
		} else {
			userInputId = $("#userId").val();
			userInputPassword = $("#userPassword").val();
			userInputNickname = $("#userNickname").val();
			userInputEmail = $("#userEmail").val();
			userInputRegion = $("#userRegion").val();

			var userDto = {
				userId : userInputId,
				userPassword : userInputPassword,
				userNickname : userInputNickname,
				userEmail : userInputEmail,
				userRegion : userInputRegion
			};
			

			$.ajax({
				url : "/signup.do",
				data : userDto,
				type : "POST",
			}).done(function(returnData) {
				if (returnData == "success") {
					alert("가입이 완료되었습니다.");
					location.replace("/star/login");
				}else{
					alert("가입이 실패되었습니다.");
				}
			});

		}

	}

	/* 아이디, 닉네임, 이메일 유효성 체크 */
	$(document)
			.ready(
					function() {

						// 모든 텍스트의 변경에 반응합니다.
						$("#userId")
								.change(
										"change keyup paste",
										function() {

											// 현재 변경된 데이터 셋팅
											var newValue = $(this).val();
											var rule = "";

											try {
												rule = newValue.match(IdRegex)[0];
												/* console.log(rule); */
											} catch (e) {
												/* console.log("fail") */
											}
											;

											if (newValue == "") {
												$("#IDerror")
														.replaceWith(
																'<div id="IDerror" class="error">'
																		+ '아이디를 입력해주세요.'
																		+ '</div>');
												return;
											}

											if (rule != newValue || rule == "") {
												$("#IDerror")
														.replaceWith(
																'<div id="IDerror" class="error">'
																		+ '6~12자의 영문, 숫자만 사용 가능합니다.'
																		+ '</div>');
												IdCheck = false;
												return;
											}

											//json 형태로 전송
											var userDto = {
												userId : newValue
											};

											$
													.ajax({
														url : "/inputIDCheck",
														data : userDto,
														type : "POST",
													})
													.done(
															function(fragments) {
																var uniqueResult = fragments[0];

																if (uniqueResult == "이미 사용중입니다.") {
																	IdCheck = false;
																	$(
																			"#IDerror")
																			.replaceWith(
																					'<div id="IDerror" class="error">'
																							+ '이미 사용중입니다.'
																							+ '</div>');
																	console
																			.log("samesame")
																} else {
																	IdCheck = true;
																	$(
																			"#IDerror")
																			.replaceWith(
																					'<div id="IDerror" class="error"></div>');
																}

															});

										});

						$("#userPassword")
								.change(
										"change keyup paste",
										function() {

											// 현재 변경된 데이터 셋팅
											var newValue = $(this).val();

											var rule = "";

											try {
												rule = newValue
														.match(passwordRegex)[0];
												/* console.log(rule); */
											} catch (e) {
												/* console.log("fail") */
											}
											;

											if (newValue == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '비밀번호를 입력해주세요'
																		+ '</div>');
												passwordCheck = false;
												return;
											}
											if (rule != newValue || rule == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '6~20자의 영문, 숫자만 사용 가능합니다.'
																		+ '</div>');
												passwordCheck = false;
												return;
											}

											var userInputPassword = $(
													"#passwordCheck").val();

											if (newValue == userInputPassword) {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error"></div>');
												passwordCheck = true;
											} else {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">입력한 비밀번호와 일치하지 않습니다.</div>');
												passwordCheck = false;
											}
										});

						$("#passwordCheck")
								.change(
										"change keyup paste",
										function() {

											// 현재 변경된 데이터 셋팅
											var newValue = $(this).val();

											var rule = "";

											try {
												rule = newValue
														.match(passwordRegex)[0];
												/* console.log(rule); */
											} catch (e) {
												/* console.log("fail") */
											}
											;

											if (newValue == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '비밀번호를 입력해주세요'
																		+ '</div>');
												return;
											}

											if (rule != newValue || rule == "") {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">'
																		+ '6~20자의 영문, 숫자만 사용 가능합니다.'
																		+ '</div>');
												passwordCheck = false;
												return;
											}

											var userInputPassword = $(
													"#userPassword").val();

											if (newValue == userInputPassword) {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error"></div>');
												passwordCheck = true;
											} else {
												$("#PasswordCheckError")
														.replaceWith(
																'<div id="PasswordCheckError" class="error">입력한 비밀번호와 일치하지 않습니다.</div>');
												passwordCheck = false;
											}
										});

						$("#userNickname")
								.change(
										"change keyup paste",
										function() {

											// 현재 변경된 데이터 셋팅
											var newValue = $(this).val();
											var rule = "";

											try {
												rule = newValue
														.match(nicknameRegex)[0];
												/* console.log(rule); */
											} catch (e) {
												/* console.log("fail") */
											}
											;

											if (newValue == "") {
												$("#nicknameError")
														.replaceWith(
																'<div id="nicknameError" class="error">'
																		+ '닉네임을 입력해주세요'
																		+ '</div>');
												return;
											}

											if (rule != newValue || rule == "") {
												$("#nicknameError")
														.replaceWith(
																'<div id="nicknameError" class="error">'
																		+ '2~8자의 한글,영문, 숫자만 사용 가능합니다.'
																		+ '</div>');
												nicknameCheck = false;
												return;
											}

											//json 형태로 전송
											var userDto = {
												userNickname : newValue
											};

											$
													.ajax(
															{
																url : "/inputNicknameCheck",
																data : userDto,
																type : "POST",
															})
													.done(
															function(fragments) {

																var uniqueResult = fragments[0];

																if (uniqueResult == "이미 사용중입니다.") {
																	nicknameCheck = false;
																	$(
																			"#nicknameError")
																			.replaceWith(
																					'<div id="nicknameError" class="error">'
																							+ uniqueResult
																							+ '</div>');
																} else {
																	nicknameCheck = true;
																	$(
																			"#nicknameError")
																			.replaceWith(
																					'<div id="nicknameError" class="error"></div>');
																}
															});

										});

						$("#userEmail")
								.change(
										"change keyup paste",
										function() {

											// 현재 변경된 데이터 셋팅
											var newValue = $(this).val();
											var rule = "";

											try {
												rule = newValue
														.match(emailRegex)[0];
												/* console.log(rule); */
											} catch (e) {
												/* console.log("fail") */
											}
											;

											if (newValue == "") {
												$("#emailError")
														.replaceWith(
																'<div id="emailError" class="error">'
																		+ '이메일 계정을 입력해주세요.'
																		+ '</div>');
												return;
											}

											if (rule != newValue || rule == "") {
												$("#emailError")
														.replaceWith(
																'<div id="emailError" class="error">'
																		+ 'e-mail형식으로 작성해주세요.'
																		+ '</div>');
												emailCheck = false;
												return;
											}

											//json 형태로 전송
											var userDto = {
												userEmail : newValue
											};

											$
													.ajax(
															{
																url : "/inputEmailCheck",
																data : userDto,
																type : "POST",
															})
													.done(
															function(fragments) {

																var uniqueResult = fragments[0];

																if (uniqueResult == "이미 사용중입니다.") {
																	emailCheck = false;
																	$(
																			"#emailError")
																			.replaceWith(
																					'<div id="emailError" class="error">'
																							+ uniqueResult
																							+ '<br> <a href="/star/findUser.do">계정 찾기</a>를 이용해주세요. </div>');
																} else {
																	emailCheck = true;
																	$(
																			"#emailError")
																			.replaceWith(
																					'<div id="emailError" class="error"></div>');
																}
															});

										});

					});
</script>

</body>
</html>