<!-- <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    
    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			window.close();
		});
	</script>
    
</head>
<body>
    <h1>신고가 완료되었습니다.</h1>
</body>
</html> -->

<!DOCTYPE html>
<html lang="ko">
  <head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>radio 값 가져오기</title>
  </head>
  <body>
    <ul>
      <li>
        <input type="radio" name="radioTxt" value="Apple" checked>Apple
      </li>
      <li>
        <input type="radio" name="radioTxt" value="Grape">Grape
      </li>
      <li>
        <input type="radio" name="radioTxt" value="Banana">Banana
      </li>
    </ul>
    <button type="button" name="button" id="radioButton">get radio Value</button>
    <button type="button" name="button" id="radioButton2">set radio Value</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#radioButton').click(function () {
          // getter
          var radioVal = $('input[name="radioTxt"]:checked').val();
          alert(radioVal);
        });

        $('#radioButton2').click(function () {
          // setter
          // 선택한 부분을 세팅할 수 있다.
          $('input[name="radioTxt"]').val(['Banana']);
        });
      });
    </script>
  </body>
</html>