<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="board/layout/basic">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        .temp3{
	        width:100px;
	        height:20px;
	        border:1px solid green;
        }
        .temp4{
            width:480px;
            height:100px;
            border:1px solid blue; 
        }
        .container {
            width:1800px;
            height:300px;

            border:1px solid blue;
            overflow: auto;
        }
            /* 스위치 버튼 CSS */
        .wrapper {
            /* width: 80px; */
            height: 50px;
            text-align: center;
            /* margin: 20px auto; */
        }
        #switch {
            position: absolute;
            /* hidden */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        .switch_label {
            position: relative;
            cursor: pointer;
            display: inline-block;
            width: 58px;
            height: 28px;
            background: #fff;
            border: 2px solid #daa;
            border-radius: 20px;
            transition: 0.2s;
        }
        .switch_label:hover {
            background: #efefef;
        }
        .onf_btn {
            position: absolute;
            top: 2px;
            left: 2px;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: #daa;
            transition: 0.2s;
        }

        /* checking style */
        #switch:checked+.switch_label {
            background: #c44;
            border: 2px solid #c44;
        }
        #switch:checked+.switch_label:hover {
            background: #e55;
        }
        /* move */
        #switch:checked+.switch_label .onf_btn {
            left: 34px;
            background: #fff;
            box-shadow: 1px 2px 3px #00000020;
        }

    </style>
</head>
<body>

    <!-- <div class="temp1"> 네비게이션 </div> -->
    <!-- <div style="width:1450px; height:20px; padding:20px; border:1px solid blue;">네비</div> -->
         <!-- header -->
    <header class="p-3 mb-3 border-bottom">
        <div>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="./find_account.html"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="50" height="50" role="img" aria-label="Logo">
                        <image href="/img/Logo.png" width="50" height="50"></image>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">관측지</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">소통방</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">상점</a></li>
                </ul>
			
				<!-- Logout 했을 경우 
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <button class="btn btn-secondary" type="button">Login</button>
                <button class="btn btn-primary" type="button">회원 가입</button>
            </form> -->

                
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <button type="submit">Logout</button>
            </form>

            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <span>서누족장</span>
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">마이 페이지</a></li>
                <li><a class="dropdown-item" href="#">정보 변경</a></li>
              </ul>
            </div> 

            </div>
        </div>
    </header>
    
        
    
    			<table class="table table-hover">
				<thead> 
					<tr>
						<th>지역</th>
						<th>날짜</th>
						<th>계절</th>
						<th>습도</th>
						<th>풍속</th>
						<th>바람</th>
						<th>중국미세</th>
						<th>한국미세</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}"> -->
					<tr th:each="row : ${boardList}">
<!-- 						<td scope="row" th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
						<td class="text-left">
							<a th:href="|@{/board/view.do}${params.makeQueryString(params.currentPageNo)}&idx=${row.idx}|" th:text="${row.title}"></a>
						</td>
						<td th:text="${row.writer}"></td>
						<td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
						<td th:text="${row.viewCnt}"></td>
 -->											
 					<td th:text="${row.region}"></td>
 					<td th:text="${row.date}"></td> 
 					<td th:text="${row.weather}"></td>
 					<td th:text="${row.humidity}"></td>
 					<td th:text="${row.windSpeed}"></td>
 					<td th:text="${row.korWind}"></td>
 					<td th:text="${row.cnPm10}"></td>
 					<td th:text="${row.korPm10}"></td>
 				

					</tr>
<!-- 					<tr th:unless="${not #lists.isEmpty( boardList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr> -->
				</tbody>
			</table>
    
     
    <div style= "margin:40px;">저희 '별애별 모임' 은:</div>  
    <div style= "margin:40px;">전국의 미세먼지와 기상조건들을 참고하여</div> 
    <div style= "margin:40px;">천체를 관측하기에 좋은 지역을 찾아드리며, 대화할수 있는 커뮤니티입니다!</div>
    

	 <!-- 해당 콤보박스에서의 선택에 따라 다른 테이블을 화면에 출력할 것 -->
    <div style="width:1450px; height:400px; margin:40px; border:1px solid green;">
        지도
        <select name="region" style="float:right">
            <option value="Nationwide"> --- 전국 --- </option>
            <option value="seoul"> 서울 </option>
            <option value="busan"> 부산 </option>
            <option value="daegu"> 대구 </option>
            <option value="incheon"> 인천 </option>
        </select>
    </div>
    <br><br><br>
    
    
    
    

	

    <div class="container">
    
     <!-- 스위치 버튼 -->
    <div class="wrapper">
        <input type="checkbox" id="switch" style="float:right;">
        <label for="switch" class="switch_label" style="float:right;">
          <span class="onf_btn" style="float:right;"></span>
        </label>
       <p style="float:right;">주<->시간</p>	
    </div>
    
    <div>

       <div style="width:30%;  float:left;" >
            <div class="temp3"> 종로구</div>
            <table border ="1"  width=300px bgcolor=#11a9c1 bordercolor="white">
                <tr align="center" bgcolor="white">
                <td>시간</td>
                <td>날씨</td>
                <td>습도</td>
                <td>미세먼지</td>
                </tr>
                <tr align="center" bgcolor="white">
                <td>00:00</td>
                <td>☁️</td>
                <td>00%</td>
                <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>04:00</td>
                    <td>☁️</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>08:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>12:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>16:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
            </table>
        </div>
        <div style=" width:30%; float:left;">
            <div class="temp3"> 강동구</div>
            <table border ="1" width=300px bgcolor=#11a9c1 bordercolor="white">
                <tr align="center" bgcolor="white">
                <td>시간</td>
                <td>날씨</td>
                <td>습도</td>
                <td>미세먼지</td>
                </tr>
                <tr align="center" bgcolor="white">
                <td>00:00</td>
                <td>☁️</td>
                <td>00%</td>
                <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>04:00</td>
                    <td>☁️</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>08:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>12:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>16:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
            </table>
        </div>
        <div style="width:30%; float:left;">
            <div class="temp3"> 서대문구</div>
            <table border ="1"  width=300px bgcolor=#11a9c1 bordercolor="white">
                <tr align="center" bgcolor="white">
                <td>시간</td>
                <td>날씨</td>
                <td>습도</td>
                <td>미세먼지</td>
                </tr>
                <tr align="center" bgcolor="white">
                <td>00:00</td>
                <td>☁️</td>
                <td>00%</td>
                <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>04:00</td>
                    <td>☁️</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>08:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>12:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
                <tr align="center" bgcolor="white">
                    <td>16:00</td>
                    <td>⛅</td>
                    <td>00%</td>
                    <td>25μm</td> 
                </tr>
            </table>
        </div>
    </div>
    </div>
    
    
    <!-- 여기에 데이터를 가져와서 테이블 만들거임 -->
    
    
    
    
    


   
    <br><br><br><br><br><br><br><br><br><br><br><br>
   
    <div style="width:1450px; height:250px; padding:1px; margin:40px; border:1px solid blue;">

        <div style="width:100px; height:20px; border:1px solid green;"> 지역추천 </div>

        <div style="width:33%; float:left;">
            <div style="width:480px; height:100px; border:1px solid blue;">노원천문우주학관</div>
        </div>
        <div style="width:33%; float:left;">
            <div style="width:480px; height:100px; border:1px solid blue;">서울특별시교축정과학전시관</div>
        </div>
        <div style="width:33%; float:left;">
            <div style="width:480px; height:100px; border:1px solid blue;">과학동아천문대</div>
        </div>

    </div>
    
        <!-- footer -->
    <div>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap" /></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">&copy; 2022 별애별 모임, Human</span>
            </div>
        </footer>
    </div>

<!--     CSS only 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    JavaScript Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script> -->
</body> 
</html> 