<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관측지 게시판</title>
    <style>
        table,
        td {
            border: 1px solid #333;
        }

        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <h2>마이페이지</h2>
    <table>
        <colgroup span="4" class="columns"></colgroup>
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        <tr>
            <td>1</td>
            <td>[잡담]서울에 숨은 별 맛집 찾았어요!</td>
            <td>서누족장</td>
            <td> 2022-07-03</td>
        </tr>
        <tr>
            <td>2</td>
            <td>[사고팔아요]신입별지기용 쌍안경 팔아요!</td>
            <td>서누족장</td>
            <td>2022-07-01</td>
        </tr>
        <tr>
            <td>3</td>
            <td>관측지역</td>
            <td>서누족장</td>
            <td>2022-06-29</td>
        </tr>
        <!-- <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr> -->
    </table>

	
    <a href=/star/signdown>
	    <button type="button">회원탈퇴</button>
    </a>
</body>
</html>