@charset "UTF-8";

header {
    padding-left: 5%;
    padding-right: 5%;
}

/*.Logo {
 	border: solid 1px white;
 	display: flex;
 	text-align: center;
} */

/* 로그인 상태 드롭바 */
.dropdown-toggle {
	background-color: transparent;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 40%;
}

.dropdown-toggle i {
	color: gray;
}

.nick_user {
	border: none;
	border-color: red;
	background-color: transparent;
	/* border-style: double; */
}

/* .category li .menu {
	border: none;
}
 */
.drop_btn {
	border: none;
	border-color: red;
	border-style: double;
	font-size: 50%;
}

/* .category_part {
	width: 50%;
	height: 86px;
}
ul{
	list-style-type: none;
	text-align: center;
} 
li {
	margin-left: 5%;
	float: left;
	padding-top : 15px;
	font-size: 20px;
} */

.userButton{
	width: 20%;
	height: 86px;
	text-align: right;
    padding-top: 15px;
    font-size: 30px;
}
.btn{
	margin-right: 1%;
	font-size: 20px;
}



아래는 원래 있던 코드

.nav_header {
   border-bottom: 1px solid rgb(90, 89, 89);;
   box-shadow : 0 1px 0 0 rgba(149, 147, 147, 0.955);
   padding-top: 1%;
   padding-bottom: 10px;
   border-width: 95%;
   width: 96%;
   margin-left: 2%;
   font-weight: bold;
   font-size: 18px;
}

.nav_items {
    width: 100%;
    height: 100%;
}

nav text css
.front_hi {
  text-align: start;
  margin-left: 4%;
}

sign, login css
input {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 90px;
    height: 30px;
}

.logsignWrap {
    text-align: right;
    margin: 0 auto;
}

.signup {
    background-color: rgb(39, 96, 219);
    color: #fff;
}
