@charset "UTF-8";

div.map_border card {
text-align: center;
/* padding: 0;
max-width: 4rem;
margin-left: -2%;
margin-right: -2%; */
}

div.map_border::after {
  box-sizing: unset;
}

div.map_border::before {
  box-sizing: unset;
}

/* div.map_header {
    background-color: transparent;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
} */

/* div.map_body {
  padding: 0;
  margin-top: -14%;
  margin-bottom: -5%;
} */

/* div.map_text {
  font-size: 10px;
} */

/* div.map_body img {
	margin: 0;
} */