<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
    <th:block layout:fragment="title">
        <title>수정 페이지</title>
    </th:block>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  	<div class="card-content">
            <form th:action="@{/board/updateBoard}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return checkNull()">    
                <div class="form-group">
                	<label for="category" class="col-sm-2 control-label">카테고리</label>
                	<select id="category" name="category">
                		<option value="관측지" th:selected="${session.criteria.category}== '관측지'">관측지</option>
                		<option value="작품전" th:selected="${session.criteria.category}== '작품전'">작품전</option>
                		<optgroup label="소통방">
                			<option value="잡담" th:selected="${session.criteria.category}== '잡담'">잡담</option>
                			<option value="사고팔아요" th:selected="${session.criteria.category}=='사고팔아요'">사고팔아요</option>
                		</optgroup>
                	</select>
                </div>
                
                <div class="form-group">
                    <label for="writer" class="col-sm-2 control-label">작성자</label>
                    <div class="col-sm-10">
                    	<input type="hidden" id=userNumber name="userNumber" th:value="${boardDto.userNumber}"/>
                    	<input type="text" id="writer" name="writer" class="form-control" maxlength="10" th:value="${session.userDTO.userNickname}" disabled/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" id="title" name="title" class="form-control" maxlength="50" placeholder="글 제목" th:value="${boardDto.title}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                        <textarea id="content" name="content" class="form-control" maxlength="1000" placeholder="내용을 입력해 주세요." th:text="${boardDto.content}"></textarea>
                    </div>
                </div>
                
               <!-- <div class="form-group">
                	<label for="img" class="col-sm-2 control-label">파일<button type="button" onclick="addImg();">이미지 추가하기</button></label>
                	<div id="imgList" class="col-sm-10">
                		<input id="img" name="img" class="form-control" type="file" accept=".jpg, .gif, .png, .bmp, .webp, .heif"/><br>
               		</div>
               		<div id="imgsZone"></div>
          		</div>-->
               

				<!-- 수정 버튼 -->            
	            <div class="btn_wrap text-center" >
	            <input id="bno" name="bno" type="text" th:value="${boardDTO.bno}">
	                <button type="submit">수정 하기</button>
	            </div>
	            
	            
		        <input type="text" id="pageNum" name="pageNum" th:value="${session.criteria.pageNum }">
			    <input type="text" id="amount" name="amount" th:value="${session.criteria.amount }">
	        
        	</form>
        </div>
	

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
       	
       	function addImg(){
       		var i = document.createElement('input');
       		i.setAttribute("type","file");
       		i.setAttribute("name","img");
       		i.setAttribute("required","");
       		i.setAttribute("accept",".jpg, .gif, .png, .bmp, .webp, .heif");
       		
       		var j = document.createElement('input');	
       		j.setAttribute("type","button");
       		j.setAttribute("value","삭제");
       		j.setAttribute("onclick","deleteImg();")
       		
       		var addImg = document.getElementById("imgList");
       		addImg.appendChild(i);
       		addImg.appendChild(j);
       		addImg.appendChild(document.createElement('br'));
       	}
       	
       	
       function deleteImg(){
    	   var addImg = document.getElementById("imgList");	   
    	   var childList = addImg.children;
    	   var childListSize = childList.length;
    	   childList[childListSize-1].remove();
    	   childList[childListSize-2].remove();
    	   childList[childListSize-3].remove();  	   
       }
			    
        // 제목 , 내용 널값 체크 & 작품전 카테고리일 경우 최소 1개 사진 필요
        var titleRegex = /\S/;
        var contentRegex = /\S/;
        
        function checkNull(){
        	var imgList = Array.from(document.querySelectorAll("#imgList input"));      	
        	var imgListLength = imgList.length;
        	
         	console.log(imgList);
        	console.log(imgListLength);

        	if(titleRegex.test($("#title").val()) == false){
        		alert("제목을 입력해주세요.")
        		return false;
        	}else if(contentRegex.test($("#content").val()) == false){
        		alert("내용을 입력해주세요.");
        		return false;
        	}else if( imgListLength == 0 && $("#category").val() == "작품전"){
        		alert("작품전은 최소 1개 이상의 사진이 필요합니다.");
        		return false;
        	}else if(imgListLength > 0){
        		// 기본 img 첨부 파일이 존재하든 안하든
        		// 이미지 버튼 추가를 누르고 이미지 첨부를 하지 않으면
        		for(var i=0; i<imgListLength; i++){
        			console.log(imgList[i].files[0]);
         		   if(imgList[i].files[0] == undefined){
         			   alert("이미지를 첨부해주세요.");
         			   return false;
         		   }
         	   }
        		return false;
        	}else{
        		alert("글 쓰기 완료");
        		return true;
        	}
        }
        	
		
       	// 뒤로 가기로 다시 돌아오는 거 방지
 		function noBack(){
 			window.history.forward();
 			}
       	
 		/*]]>*/
        </script>
    </th:block>
</body>
</html>

