<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
	<div th:replace="fragments/body :: main-css"></div>
	<div th:replace="fragments/body :: main-nav"></div>
    <th:block layout:fragment="title">
        <title>수정 페이지</title>
    </th:block>
    
    <style>
    	 
    	 .detail_board{
        	/* font-size: 15px;
        	color: white;
        }
        .detail_board .board_story{
        	margin-left: 5%;
        	border: 0px white solid;
        	font-size: 15px;
        }
         .detail_board textarea {
        	 margin-left: 5%;
			 width: 100%;
			 border: 0px white solid;
		} 
		 html, body {
		 	background-position: 0 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(../img/board_back_img.jpg);
			height: 100%;
			background-position:top right;
			background-attachment:fixed;
		} 
		.board_list { */
        	margin-left: 10%;
        	margin-right: 10%;
        	font-size: 15px;
        }.detail_board .board_story{
        	margin-left: 5%;
        	font-size: 18px;
        }.detail_board textarea {
        	margin-left: 5%;
			width: 100%;
/* 			border: 0px white solid; */
		}.board_list {
			width: 100%;
			text-align: center;
		}
    
    </style>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  	<div class="detail_board">
            <form th:action="@{/board/updateBoard}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return checkNull()">  
            
            <!-- 카테고리 + 카테고리 드랍 -->
            <div class="cate_write" style="padding-left: 20%; padding-top: 5%;">  
                <div class="form-group mb-4">
                	<label for="category" class="col-sm-1 col-form-label">카테고리</label>
                	<select id="category" name="category" class="board_story" style="text-align: center;">
                		<option value="관측지" th:selected="${session.criteria.category}== '관측지'">관측지</option>
                		<option value="작품전" th:selected="${session.criteria.category}== '작품전'">작품전</option>
                		<optgroup label="소통방">
                			<option value="잡담" th:selected="${session.criteria.category}== '잡담'">잡담</option>
                			<option value="사고팔아요" th:selected="${session.criteria.category}=='사고팔아요'">사고팔아요</option>
                		</optgroup>
                	</select>
                </div>
                
                <div class="row mb-4">
                    <label for="writer" class="col-sm-1 col-form-label">작성자</label>
                    <div class="col-sm-8">
                    	<input type="hidden" id=userNumber name="userNumber" th:value="${boardDto.userNumber}"/>

                    	<input type="hidden" id="writer" name="writer" class="board_story" maxlength="10" th:value="${session.userDTO.userNickname}" readonly="readonly"/>
                    	<div class="board_story" th:text="${session.userDTO.userNickname}"></div>
                    </div>
                </div>

                <div class="row mb-4">
                    <label for="title" class="col-sm-1 col-form-label">제목</label>
                    <div class="col-sm-8">
                        <input type="text" id="title" name="title" class="board_story form-control" maxlength="50" placeholder="글 제목" th:value="${boardDto.title}"/>
                    </div>
                </div>

                <div class="row mb-4">
                    <label for="content" class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-8">
                        <textarea id="content" name="content" class="board_story form-control" maxlength="1000" placeholder="내용을 입력해 주세요." th:text="${boardDto.content}"
                        style="width: 100%; height: 20em; resize: none;"></textarea>
                    </div>
                </div>
                
               <div class="form-group" style="font-size: 20px;">
               		<div th:if="${#lists.size(imgDto)} > 0"  th:each="imgs,index : ${imgDto}">
				    	<input type="image" id="imgPath" name="imgPath" th:src="'/imgfiles/' + ${imgs.imgName}" 
				    		th:value="${imgs.imgPath}" style="width:450px; height:400px; margin:0 auto; border:1px solid green;">
				   		<br>
				   		<input type="hidden" id="imgNumber" name="imgNumber" th:value="${imgs.imgNumber}">
				   		<input type="text" id="imgName" name="imgName" th:value="${#strings.substring(imgs.imgName,37)}" readonly="readonly">
				   		<input type="hidden" id="imgShowYn" name="imgShowYn" th:value="${imgs.imgShowYn}" readonly="readonly">
				   		<button th:id="${index.index}" type="button" onclick="updateImg(this.id);">삭제</button>
               		</div>
               		
               		<div class="row mb-2">
                	<label for="addImgButton" class="col-sm-2 form-label">파일
                	<button id="addImgButton" type="button" class="btn btn-primary" onclick="addImg();">이미지 추가</button>
                	</label>
                	<div id="imgList" class="col-sm-10"></div>
          		</div>
               </div>
				</div>
				<!-- 수정 버튼 -->            
	            <div class="btn_wrap text-center">
	            <input id="bno" name="bno" type="hidden" th:value="${boardDTO.bno}" style="text-align: center;">
	                <button class="btn btn-success" type="submit">수정</button>
	            </div>
	            
		        <input type="hidden" id="pageNum" name="pageNum" th:value="${session.criteria.pageNum }">
			    <input type="hidden" id="amount" name="amount" th:value="${session.criteria.amount }">
	        </form>
        </div>
	
    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
       	
       	function addImg(){
       		var i = document.createElement('input');
       		i.setAttribute("type","file");
       		i.setAttribute("name","img");
       		i.setAttribute("required","");
       		i.setAttribute("accept",".jpg, .gif, .png, .bmp, .webp, .heif");
       		
       		var j = document.createElement('input');
       		j.setAttribute("class","btn btn-danger");
       		j.setAttribute("type","button");
       		j.setAttribute("value","삭제");
       		j.setAttribute("onclick","deleteImg();")
       		
       		var addImg = document.getElementById("imgList");
       		addImg.appendChild(i);
       		addImg.appendChild(j);
       		addImg.appendChild(document.createElement('br'));
       	}
       	
       	
       function deleteImg(){
    	   var addImg = document.getElementById("imgList");	   
    	   var childList = addImg.children;
    	   var childListSize = childList.length;
    	   childList[childListSize-1].remove();
    	   childList[childListSize-2].remove();
    	   childList[childListSize-3].remove();  	   
       }
       
       function updateImg(clicked_id){
    	   var imgShow = Array.from(document.querySelectorAll("#imgShowYn"));
    	   
    	   /* console.log(clicked_id);
    	   console.log(typeof clicked_id); */
    	   
    	   for(var i = 0; i<imgShow.length; i++){
    		   /* console.log(typeof i); */
    		   var iString = i+"";
    		   /* console.log(typeof iString); */
    		   if(clicked_id == iString){
    			   imgShow[i].value = "false";    			   
    		   }
    	   }
       }
			    
        // 제목 , 내용 널값 체크 & 작품전 카테고리일 경우 최소 1개 사진 필요
        var titleRegex = /\S/;
        var contentRegex = /\S/;
        
        function checkNull(){
        	var imgList = Array.from(document.querySelectorAll("#imgList input"));      	
        	var imgListLength = imgList.length;
        	var imgShow = Array.from(document.querySelectorAll("#imgShowYn"));
        	var cnt = 0;
        	
        	for(var i=0;i<imgShow.length;i++){
        		if(imgShow[i].value == "true"){
        			cnt++;
        		}
        	}

        	// console.log(cnt);
        	
        	if(titleRegex.test($("#title").val()) == false){
        		alert("제목을 입력해주세요.")
        		return false;
        	}else if(contentRegex.test($("#content").val()) == false){
        		alert("내용을 입력해주세요.");
        		return false;
        	}else if( (cnt == 0 && imgListLength == 0 ) && $("#category").val() == "작품전"){
        		alert("작품전은 최소 1개 이상의 사진이 필요합니다.");
        		return false;
        	}else{
        		alert("글 수정 완료");
        		return true;
        	}
        }
        
        
       	// 뒤로 가기로 다시 돌아오는 거 방지
 		function noBack(){
 			window.history.forward();
 			}
       	
 		/*]]>*/
        </script>
    </th:block>
</body>
</html>