<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    <th:block layout:fragment="title">
        <title>글작성 페이지</title>
    </th:block>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <th:block layout:fragment="content">
        <div class="card-content">
            <form th:action="@{/board/registerBoard}" class="form-horizontal" method="post" onsubmit="return checkNull()">
                <!-- 기존 게시글 수정인 경우, 서버로 전달할 게시글 번호(bno) -->
            <!--     <input type="hidden" th:if="${bno != null and bno > 0}" th:value="*{bno}" /> -->
                
                <div class="form-group">
                	<label for="category" class="col-sm-2 control-label">카테고리</label>
                	<select id="category" name="category">
                		<option value="관측지" th:selected="${criteria.category}== '관측지'">관측지</option>
                		<option value="작품전" th:selected="${criteria.category}== '작품전'">작품전</option>
                		<optgroup label="소통방">
                			<option value="잡담" th:selected="${criteria.category}== '잡담'">잡담</option>
                			<option value="사고팔아요" th:selected="${criteria.category}=='사고팔아요'">사고팔아요</option>
                		</optgroup>
                	</select>
                </div>
                
                <div class="form-group">
                    <label for="writer" class="col-sm-2 control-label">작성자</label>
                    <div class="col-sm-10">
                    	<input type="hidden" id=userNumber name="userNumber" th:value="${userDTO.userNumber}"/>
                    	<input type="text" id="writer" name="writer" class="form-control" maxlength="10" th:value="${userDTO.userNickname}" disabled/>
                        <!-- <input type="text" id="writer" name="writer" class="form-control" maxlength="10" value="" disabled/> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" id="title" name="title" class="form-control" maxlength="50" placeholder="글 제목" />
                        <!-- <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." /> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                        <textarea id="content" name="content" class="form-control" maxlength="1000" placeholder="내용을 입력해 주세요."></textarea>
                    </div>
                </div>
                
                <!-- 우선 이미지 1개만 -->
               <div class="form-group">
                	<label for="img" class="col-sm-2 control-label">파일</label>
                	<div class="col-sm-10">
                		<input id="img" name="img" class="form-control" type="file"/>
               		</div>
          		</div>
               
            

<!-- 아직 손 안건들임 임시 main으로 이동 -->
	            <div class="btn_wrap text-center" >
	                <button type="submit">저장하기</button>
	            </div>
	            
	            
	            
	         <input type="text" id="pageNum" name="pageNum" th:value="${criteria.pageNum }">
		     <input type="text" id="amount" name="amount" th:value="${criteria.amount }">
	        
        	</form>
        </div>
    </th:block>
	

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
			    
        // 제목 , 내용 널값 체크
        var titleRegex = /\S/;
        var contentRegex = /\S/;
        
        function checkNull(){
        	console.log(titleRegex.test($("#title").val()));
        	if(titleRegex.test($("#title").val()) == false){
        		alert("제목을 입력해주세요.")
        		return false;
        	}else if(contentRegex.test($("#content").val()) == false){
        		alert("내용을 입력해주세요.");
        		return false;
        	}else{
        		alert("글 쓰기 완료");
        		return true;
        	}
        }
        	
        /*]]>*/
        </script>
    </th:block>
</html>

