<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="" style="overflow-x: hidden;">
	<div th:replace="fragments/body :: main-css"></div>
	<div th:replace="fragments/body :: main-nav"></div>
    <th:block layout:fragment="title">
        <title>글작성 페이지</title>
    </th:block>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <div class="card-content">
            <form th:action="@{/board/registerBoard}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return checkNull()">
                <!-- 기존 게시글 수정인 경우, 서버로 전달할 게시글 번호(bno) -->
            <!--     <input type="hidden" th:if="${bno != null and bno > 0}" th:value="*{bno}" /> -->
                
                <!-- 글제목 하려고 했으나 -->
                <div style="background-color: lightblue; text-align: center; padding: 2%; margin: 3% 10% 0 10%;">
                <h3><strong>글쓰기</strong></h3>
                </div> 
                
                <!-- 카테고리 + 카테고리 종류 -->
               <div class="cate_write" style="padding-left: 20%; padding-top: 5%;">
                
                <div class="form-group mb-4">
                	<label for="category" class="col-sm-1 col-form-label">카테고리</label>
                	<select id="category" name="category" style="text-align: center;">
                		<option value="관측지" th:selected="${session.criteria.category}== '관측지'">관측지</option>
                		<option value="작품전" th:selected="${session.criteria.category}== '작품전'">작품전</option>
                		<optgroup label="소통방">
                			<option value="잡담" th:selected="${session.criteria.category}== '잡담'">잡담</option>
                			<option value="사고팔아요" th:selected="${session.criteria.category}=='사고팔아요'">사고팔아요</option>
                		</optgroup>
                	</select>
                </div>
                
                <!-- 작성자(유저 닉네임) -->
                <div class="row mb-4">
                    <label for="writer" class="col-sm-1 col-form-label">작성자</label>
                    <div class="col-sm-10">
                    	<input type="hidden" id=userNumber name="userNumber" th:value="${session.userDTO.userNumber}"/>
                    	<input type="text" id="writer" name="writer" class="form-control" maxlength="10" th:value="${session.userDTO.userNickname}" disabled style="border: none; background-color: transparent;"/>
                        <!-- <input type="text" id="writer" name="writer" class="form-control" maxlength="10" value="" disabled/> -->
                    </div>
                </div>
                
                <div class="row mb-4">
                    <label for="title" class="col-sm-1 col-form-label">제목</label>
                    <div class="col-sm-8">
                        <input type="text" id="title" name="title" class="form-control" maxlength="50" placeholder="제목을 입력 해주세요" />
                        <!-- <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." /> -->
                    </div>
                </div>
				
                <div class="row mb-4">
                    <label for="content" class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-8">
                        <textarea id="content" name="content" class="form-control" maxlength="1000" placeholder="내용을 입력해 주세요." required="required"
                        style="width: 100%; height: 20em; resize: none; "></textarea>
                    </div>
                </div>
               
                <div class="row mb-4">
                	<label for="img" class="col-sm-1 col-form-label">파일</label>
                <div class="col">
                	<button type="button" class="btn btn-primary" onclick="addImg();">이미지 추가</button>
                	<!-- 파일 선택, 리스트, 삭제 input 영역 임시로 색 표시-->
                	<div id="imgList" class="col mb-2">
                	</div>
                	</div>
          		</div>
          	</div>

				<!-- 저장 버튼 -->            
	            <div class="btn_wrap text-center" >
	                <button type="submit" class="btn btn-secondary btn-lg">저장</button>
	            </div>
	            
	         <input type="hidden" id="pageNum" name="pageNum" th:value="${session.criteria.pageNum }">
		     <input type="hidden" id="amount" name="amount" th:value="${session.criteria.amount }">
	        
        	</form>
        </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
       	
       	function addImg(){
       		var i = document.createElement('input');
       		i.setAttribute("class","");
       		i.setAttribute("type","file");
       		i.setAttribute("name","img");
       		i.setAttribute("required","");
       		i.setAttribute("accept",".jpg, .gif, .png, .bmp, .webp, .heif");
       		
       		var j = document.createElement('input');
       		j.setAttribute("class","btn btn-danger");
       		j.setAttribute("type","button");
       		j.setAttribute("value","삭제");
       		j.setAttribute("onclick","deleteImg();")
       		
       		var addImg = document.getElementById("imgList");
       		addImg.appendChild(i);
       		addImg.appendChild(j);
       		addImg.appendChild(document.createElement('br'));
       	}
       	
       	
       function deleteImg(){
    	   var addImg = document.getElementById("imgList");	   
    	   var childList = addImg.children;
    	   var childListSize = childList.length;
    	   childList[childListSize-1].remove(); 
    	   childList[childListSize-2].remove();
    	   childList[childListSize-3].remove();  	   
       }
			    
        // 제목 , 내용 널값 체크 & 작품전 카테고리일 경우 최소 1개 사진 필요
        var titleRegex = /\S/;
        var contentRegex = /\S/;
        
        function checkNull(){
        	// console.log(titleRegex.test($("#title").val()));
        	
        	// 첨부 이미지 첫번째 값
        	// console.log(imgList[0].files[0]);
        	
        	var imgList = Array.from(document.querySelectorAll("#imgList input"));
        	
        	var imgListLength = imgList.length;

        	
	/* 		console.log(imgListLength);   
			console.log($("select").val()); */


        	if(titleRegex.test($("#title").val()) == false){
        		alert("제목을 입력해주세요.")
        		return false;
        	}else if(contentRegex.test($("#content").val()) == false){
        		alert("내용을 입력해주세요.");
        		return false;
        	}else if( imgListLength == 0 && $("select").val() == "작품전"){
        		alert("작품전은 최소 1개 이상의 사진이 필요합니다.");
        		return false;
        	}else if(imgListLength > 0){
        		// 기본 img 첨부 파일이 존재하든 안하든
        		// 이미지 버튼 추가를 누르고 이미지 첨부를 하지 않으면
        		for(var i=0; i<imgListLength; i++){
        			console.log(imgList[i].files[0]);
         		   if(imgList[i].files[0] == undefined){
         			   alert("이미지를 첨부해주세요.");
         			   return false;
         		   }
         	   }
        		return false;
        	}else{
        		alert("글 쓰기 완료");
        		return true;
        	}
        }
        	
		
       	// 뒤로 가기로 다시 돌아오는 거 방지
 		function noBack(){
 			window.history.forward();
 			}
       	
 		/*]]>*/
        </script>
    </th:block>
</body>
</html>

